*{   -webkit-tap-highlight-color: rgba(0,0,0,0);
    -webkit-tap-highlight-color: transparent; /* For some Androids */
}

.top-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(45deg);
    transform: rotate(45deg);
}
.mid-animate {
    opacity: 0;
}
.bottom-animate {
    background: #fff !important;
    top: 13px !important;
    -webkit-transform: rotate(-225deg);
    transform: rotate(-225deg);
}
.top-menu {
    top: 5px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.mid-menu {
    top: 13px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.bottom-menu {
    top: 21px;
    width: 25px;
    height: 2px;
    border-radius: 10px;
    background-color: #F9A530;
}
.menui {
    background: #bb9d3b;
    transition: 0.6s ease;
    transition-timing-function: cubic-bezier(.75, 0, .29, 1.01);
    margin-top: 10px;
    position: absolute;
}


.icon {
    z-index: 999;
    position: absolute;
    display: block;
    padding: 9px;
    height: 32px;
    width:32px;
    margin: 0px;
    top: 0;
    right: 30px;
    margin-top: 34px;
    display: none;
}

.mobilenav {
    font-family: inherit;
    top: 0;
    left:0;
    z-index: 999;
    display: none;
    position: fixed;
    width: 100%;
    height: 100%;
    background: rgba(123, 138, 179, 0.98);
}
.mobilenav li {
    list-style-type: none;
    text-align: center;
}
.mobilenav li a {
    font-size: 150%;
    color: #fff;
    text-decoration: none;
    font-weight: 300;
    width: 100%;
}
.mobilenav li:first-child {
    margin-top: 60px;
}



.mobilenav li {
    margin-bottom: 10px;
}
.mobilenav li.current_page_item a {
    font-family: 'BrandonGrotesque-Regular'
}
.mobilenav li.menu-item-has-children:hover > ul.sub-menu {
    display: none;
}
