/*/*
	Theme Name: successean
	Theme URI: http://successean.com
	Description: Successean Theme
	Version: 1.4.2
	Author: Sean Cooper (@)
	Author URI: http://successean.com
*/

/*------------------------------------*\
    MAIN
\*------------------------------------*/

/* global box-sizing */
*,
*:after,
*:before {
	-moz-box-sizing:border-box;
	box-sizing:border-box;
	-webkit-font-smoothing:antialiased;
	font-smoothing:antialiased;
	text-rendering:optimizeLegibility;
}

html {

}
body {

}
/* clear */
.clear:before,
.clear:after {
    content:' ';
    display:table;
}

.clear:after {
    clear:both;
}
.clear {
    *zoom:1;
}
img {
	max-width:100%;
	vertical-align:bottom;
}
a {
	color:#444;
	text-decoration:none;
}

a:hover {
	color:#444;
}
a:focus {
	outline:0;
}
a:hover,
a:active {
	outline:0;
}
input:focus {
	outline:0;
	border:1px solid #04A4CC;
}

/*------------------------------------*\
    STRUCTURE
\*------------------------------------*/

ul, li {
	padding:0;
	margin:0;
	list-style-type: none;
}
/* wrapper */
.page_wrapper {
	width: 100%;
	margin:0 auto;
	margin-left: auto;
	position:relative;
}

span.bold-font {
	font-family: 'BrandonGrotesque-Bold';
}
span.gold-font {
	color:#bb9d3b;
}
span.script {
	font-family: 'SackersItalianScript';
	font-size: 1.5em;
	font-weight: bold;
}
.show_on_590 {
	display: none;
}
/*------------------------------------*\
    TOP
\*------------------------------------*/
.top_notification {
	width:100%;
	margin:0 auto;
	height:30px;
	background: rgba(242, 231, 213, 0.57);
	color:#7b8ab3;
	z-index: 0;
	position: relative;
}
.top_layer_overlay button:hover {
    background-color: rgb(126, 143, 189);
}
.top_logo div.tropic_logo {
    margin-top: -66px;
    z-index: -1;
    margin-left: -51px;
    background-image: url('img/tropic_logo_transparent.png');
    height: 174px;
    width: 224px;
    background-size: cover;
    max-width: 220px;
}
.nav_right a {
    letter-spacing: .2px;
    font-weight: 600;
}
.top_notification h4 {
	font-size: 15px;
	font-family: 'BrandonGrotesque-Light';
	text-align: center;
	padding-top: 3px;
	letter-spacing: .4px;
}

img.tropic_logo,div.tropic_logo {
	max-width: 175px;
}
.textwidget {
    display: inline-block;
}
.top_border {
    /*margin-top: -85px;*/
    margin-bottom: 32px;
    margin-left: 175px;
    z-index: 1;
    position: relative;
}
.top_logo {
	float:left;
}
.nav {
	text-align: right;
	width:90%;
	margin:0 auto;
	/* margin-left: 80px; */
} 
ul.nav_links {
	text-align: right;
	display:inline-block;
	position: relative;
	margin-right: 20px;
	padding-top: 26px;
}
ul.nav_links li {
	display:inline-block;
	vertical-align: top;
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Light';
	font-size: 16px;
	letter-spacing: 0.1em;
	color:#bb9d3b;
	margin-right:35px;
}
ul.nav_links li a {
	color:#bb9d3b;
	font-weight: 600;
	letter-spacing: 1px;
	padding: 0 12px;
	border-radius: 1px;
}
/*ul.nav_links li:first-child {
	color:#fff;
	background:#7b8ab3;
	border-radius: 50%;
	padding: 12px 5px;
}*/
.nav_right {
	float:right;
	padding-top: 6px;
	position: relative;
	top: 2px;
}
.nav_right ul li {
    text-align: left;
    color: #bb9d3b;
    font-family: 'BrandonGrotesque-Light';
    font-size: 14px;
    letter-spacing: 0.1em;
    line-height: 2em;
}
.nav_right a {
	color: #bb9d3b;
}
img.icon_nav {
	vertical-align: middle;
	padding-right: 6px;
	padding-bottom: 5px;
	width: 22px;
	margin-right: -3px;
}
img.heart_icon {
	padding-right: 0;
	padding-left: 5px;
	width: 16px;
}
li#text-3 {
	display: inline-block;
}
.top_bar li.current_page_item > a,
ul.nav_links li.current-menu-ancestor > a{
	background: #7b8ab3;
	color: rgb(255, 255, 255)!important;
	box-shadow: 0 1px 15px rgba(242, 231, 213, 0.57),0 1px 3px rgba(94, 106, 138, 0.29);
	text-shadow: none!important;
}


/*
DROPDOWN
*/
ul.sub-menu  {
	position: absolute;
	background: #fff;
	top:50px;
	padding-bottom: 5px;
	z-index: 99;
	border:1px solid #bb9d3b;
	border-top: 0;
	display: none;
	margin-left: -8px;
}

ul.sub-menu li {
	display: block;
	margin-right: 0;
	text-align: left;
	padding: 1px 15px;
	padding-left: 8px;
}
ul.sub-menu li a {
	font-family: 'BrandonGrotesque-Light';
	font-size: 12px;
	color:#110705;
}
ul.sub-menu li a:hover {
	color: #bb9d3b;
}
li.menu-item-has-children {
	height: 30px;
}
li.menu-item-has-children:hover > ul.sub-menu {
	display: block;
}

/*------------------------------------*\
    FRONT PAGE
\*------------------------------------*/
.top_layer {
	width: 100%;
	background-size: 100%;
	background-repeat: no-repeat;
	overflow: hidden;
	position: relative;
	background-size: cover;
	background-position: top center;
	height: 52vw;
}
.top_layer_overlay {
	position: absolute;
	top:175px;
	padding-left: 11%;
	width: 100%;
}
.top_layer_overlay h1 {
	color: #ffffff;
	font-family: 'BrandonGrotesque-Light';
	font-weight: 200;
	font-size: 80px;
	margin-bottom: 0;
	line-height: 1.3em;
}
.top_layer_overlay h3{
	width: 55%;
	line-height: 1.1em;
	color: #ffffff;
	font-family: 'BrandonGrotesque-Light';
	font-size: 33px;
}
.top_layer_overlay button {
	border: 0;
	margin-top: 26px;
	padding: 12px 30px;
	background-color:rgba(123, 138, 179, 0.8);
	color:#fff;
	font-family: 'BrandonGrotesque-Medium';
	text-transform: uppercase;
	font-size: 15px;
	transition: .1s ease all;
}
.top_layer_overlay button:hover a {
    font-weight: bold;
}
.top_layer_overlay button a {
	color:#fff;
	transition: .1s ease all;
}
.foote_logo_img {
    width: 180px;
    height: 92px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: left center;
    position: relative;
    top: 4px;
}
a#product_category_link_right {
    height: 24vw;
}

a#collection_flex_link {
    height: 48vw;
    margin-top: 9px;
}
.bottom_footer .footer_wrapper {
    padding-top: 12px;
    width: 95%;
}

.mid_layer:after {
    position: absolute;
    left: -8px;
    width: calc(100% + 16px);
    top: -10px;
    background: rgba(242, 231, 213, 0.5);
    content: '';
    height: 73px;
    z-index: -1;
}
.mid_layer {
    width: calc(100% - 2px);
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    margin: 10px 1px 0px 1px;
    min-height: 48px;
}
body.home .top_logo div.tropic_logo,body.single-product .top_logo div.tropic_logo,body.contact .top_logo div.tropic_logo {
    position: absolute;
    width: 281px;
    max-width: 310px;
    height: 246px;
    background-size: contain;
    background-repeat: no-repeat;
}

body.home .top_border {
    margin-left: 257px;
}
.mid_layer_overlay {
	position: absolute;
	top:12px;
	width: 100%;
}
.flex_images a {
    display: block;
    position: relative;
}
.bg_img_media:after {content: '';left: 0;top: 0;right: 0;bottom: 0;position: absolute;background: rgb(242, 231, 213);z-index: 1;opacity: 0;-webkit-transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);transition: opacity 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);}

.flex_images a:hover .bg_img_media:after {
    opacity: .2;
}
a#blog_flex_link {
    height: 42vw;
}

.flex_images a .bg_img_media {
    background-size: cover;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    background-position: center center;
    left: 0;
}

.flex_images a .flex_vert_overlay {
    top: 50%;
    transform: translate(-50%,-50%);
    padding: 0 12px;
    left: 50%;
    max-width: 84%;
}

a#product_category_link_left {
    height: 30vw;
    margin-top: 9px;
}

.top_layer:before,.top_layer:after {
    position: absolute;
    left: -58px;
    right: 0;
    top: -42px;
    z-index: 0;
    height: 301px;
    transform: rotate(-3deg);
    background: linear-gradient(180deg,#FFFFFF,transparent);
    content: '';
}

.site_wrapper >header {
    z-index: 2;
    position: relative;
}

div.top_layer:after {
    transform: rotate(22deg);
    right: -105px;
    left: 0;
    top: -331px;
}
.mid_layer_overlay ul li {
	color:#fff;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 18px;
	display: inline-block;
	width: 33%;
	letter-spacing: .5px;
	text-align: center;
}



	.flexbox_shop {
	  padding: .1vw;
	  background: rgba(242, 231, 213, 0.5);
	  font-size: 0;
	  display: -ms-flexbox;
	  -ms-flex-wrap: wrap;
	  -ms-flex-direction: column;
	  -webkit-flex-flow: row wrap;
	  flex-flow: row wrap;
	  display: -webkit-box;
	  display: flex;
	  /* margin-bottom: 150px; */
	}
	.flex_images {
	  -webkit-box-flex: auto;
	  -ms-flex: auto;
	  flex: auto;
	  width: 200px;
	  margin: .5vw;
	  margin-right: 3px;
	  margin-top: 9px;
	}

	.flex_stack {
		-webkit-box-flex: 0.59;
		-ms-flex: 0.59;
		flex: 0.59;
		position: relative;
		margin-right: 0px;
	}
/*	.flex_stack:before {
    	content: '';
		position: absolute;
		top: 0;
		right: -7px;
		bottom: -7px;
		left: 0;
		background: url('img/rose_right_bottom.png') no-repeat;
		background-size: 160px;
		background-position: 100% 100%;
		opacity: .9; 
  	}*/
  	.flex_top {
  		position: relative;
  	}
  	.flex_top img {
  		margin-bottom: 10px;
  	}
  	.flex_top_overlay {
		position: absolute;
		top:100px;
		width: 100%;
		text-align: center;
	}
	.flex_top_overlay h1 {
		color:#fff;
		font-family: 'BrandonGrotesque-Regular';
		font-weight: 200;
		font-size: 60px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.3em;
	}

	.flex_bottom_overlay {
		position: absolute;
		bottom:45px;
		width: 100%;
		text-align: center;
	}
	.flex_bottom_overlay h1 {
		color:#fff;
		font-family: 'BrandonGrotesque-Regular';
		font-weight: 200;
		font-size: 50px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.11em;
		text-align: left;
		padding-left: 5%;
	}


	.flex_vert {
		-webkit-box-flex: 0.464;
		-ms-flex: 0.464;
		flex: 0.464;
		position: relative;
		margin-left: 0px;
	}
/*	 .flex_vert:before {
    	content: '';
		position: absolute;
		top: -7px;
		right: 0;
		bottom: 0;
		left: -7px;
		background: url('img/rose_left.png') no-repeat;
		background-size: 170px;
		opacity: .9; 
  	}*/
  	.flex_vert_overlay {
		position: absolute;
		top:120px;
		width: 100%;
		text-align: center;
		z-index: 10;
	}
	.flex_vert_overlay h1 {
		color:#fff;
		font-family: 'BrandonGrotesque-Regular';
		font-weight: 200;
		font-size: 60px;
		margin-top: 0;
		margin-bottom: 0;
		line-height: 1.12em;
	}

	div.flexbox_shop .flex_images img {
	  height: auto;
	  display: none;
	}
	@media screen and (max-width: 400px) {
	  .flexbox .flex_images { 
	  	margin: 0; 
	  }
	  .flexbox { 
	  	padding: 0; 
	  }  
	}



/*------------------------------------*\
    STORIES PAGE
\*------------------------------------*/
.story_wrapper:after {
    clear: both;
    content: '';
    display: table;
}
.story_chapters > h2 > i {}

.story_chapters h2 i {
    position: relative;
    font-family: GranjonRoman;
    text-transform: capitalize;
    font-size: 24px;
    letter-spacing: .15px;
}

i:after {content: '';position: absolute;bottom: -6px;left: 4px;right: 4px;height: 2px;background: #c0bdb7;}
.story_image_left.img_story > figure {
    margin-top: -71px;
}
.prev_next_story:nth-of-type(3), .prev_next_story:nth-of-type(4) {
    margin-bottom: 0;
}

.prev_story.prev_next_story:nth-of-type(1):before, .prev_next_story:nth-of-type(2):before, .prev_next_story:nth-of-type(3):before,.prev_next_story:nth-of-type(4):before {
    position: absolute;
    content: '';
    left: 0;
    top: 0;
    bottom: 0;
    width: 40%;
    background: #b2573a;
    z-index: 2;
    opacity: .8;
}

.prev_next_story:nth-of-type(2):before {
    background: #a2395b!important;
}

.prev_story.prev_next_story:nth-of-type(1):before {}

.prev_story.prev_next_story:nth-of-type(even):before {
    left: inherit;
    right: 0;
}

.prev_next_story:nth-of-type(3):before {
    background: rgba(223, 89, 100, 1)!important;
}

.prev_next_story:nth-of-type(4):before {
    left: inherit;
    right: 0;
    background: #7b8ab3!important;
}

.prev_next_story:nth-of-type(odd) figcaption {
    left: 0;
    right: inherit;
}
.story_image_right.img_story > figure {
    margin-top: -71px;
    box-shadow: none!important;
    padding-left: 6px;
    padding-top: 6px;
}

.story_image_center.img_story img.marker.hide_on_590 {
    position: relative;
    top: 17px;
}

.story_image_center.img_story img {
    margin-top: -4px;
}
.story_chapters h2 > span {
    font-family: 'SackersItalianScript';
    letter-spacing: 11px;
    font-weight: bold;
    position: relative;
    top: -4px;
}

.story_image_left.img_story img.marker, .story_image_right.img_story img.marker {
    position: relative;
    top: -24px;
}

.story_chapters:after {
    position: absolute;
    background: url('img/mountain_bg.png') no-repeat;
    content: '';
    width: 330px;
    margin-left: -165px;
    left: 50%;
    height: 120px;
    top: 50%;
    background-size: contain;
    margin-top: -60px;
}
img.marker.hide_on_590 {}
.story_top_layer {
	width: 100%;
    background-size: 100% 100%;
	background-repeat: no-repeat;
	position: relative;
	height: 575px;
}
.story_top_layer_overlay {
	position: absolute;
	top:20px;
	width: 100%;
	text-align: center;
}
.story_top_layer_overlay p {
	color:#bb9d3b;
	font-family: 'BrandonGrotesque-Bold';
	font-size: 13px;
	text-transform: uppercase;
	/*margin-bottom: 20px;*/
	line-height: 1.3em;
}
.story_top_layer_overlay h1 {
	color:#fff;
	font-family: 'BrandonGrotesque-Light';
	font-weight: 200;
	font-size: 80px;
	margin-top: 34px;
	margin-left: auto;
	border-radius: 0;
	height: 87px;
	overflow: hidden;
	opacity: 1;
	-webkit-mask-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAABCAIAAACQd1PeAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAA5JREFUeNpiYGBgAAgwAAAEAAGbA+oJAAAAAElFTkSuQmCC);
	width: 690px;
	margin-bottom: 0;
	margin-right: auto;
	line-height: 1.3em;
}
.story_top_layer_overlay h5{
	width: 70%;
	line-height: 1.3em;
	color: #ffffff;
	font-family: 'BrandonGrotesque-Medium';
	font-size: 18px;
	font-weight: 500;
	padding-right: 18px;
	padding-left: 18px;
	margin: 0 auto;
	max-width: 690px;
	padding-bottom: 24px;
	background: rgba(255, 255, 255, 0.95);
	padding-top: 18px;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 20px;
	font-weight: 200;
	color: rgba(17, 7, 5, 0.8);
}
.story_top_layer_overlay button:hover {
    background: #C8A83F;
    transform: translateY(-2px);
}

.story_top_layer_overlay button:hover:before {
    opacity: 0;
}

.story_top_layer_overlay button:hover a {
    color: #FFFFFF;
    font-family: 'BrandonGrotesque-Bold';
}
.story_top_layer_overlay button {
	margin-top: 40px;
	padding: 12px 30px;
	background-color: #bb9d3b;
	color: #ffffff;
	font-family: 'BrandonGrotesque-Medium';
	position: relative;
	text-transform: uppercase;
	transition: .3s ease all;
	font-size: 13px;
	box-shadow: 0.5px 0.866px 3px 0px rgba(0, 0, 0, 0.2);
	width: 189px;
	height: 42px;
	line-height: 40px;
	border: 1px solid transparent;
	 /* Safari 3.1-5 */
	 /* Opera 11-12.1 */
}
.story_top_layer_overlay button a {
	color: #ffffff;
	position: absolute;
	left: 0;
	font-family: 'BrandonGrotesque-Regular';
	top: 0;
	right: 0;
	font-weight: 500;
	height: 40px;
	line-height: 43px;
	bottom: 0;
	background: transparent;
	letter-spacing: 1px;
	width: 100%;
	display: block;
	font-size: 14.5px;
	transition: .1s ease all;
}

.story_images {
	 position: relative;
	 background: url('img/tan_bg.jpg') no-repeat;
	 background-size: 100%;
	 padding: 15px;
	 padding-bottom: 50px;
	 margin-top: -60px;
	 margin-bottom: 60px;
	 padding-left: 100px;
	 padding-right: 100px;
}
.story_wrapper {
	width: 100%;
	margin: 0 auto;
	position: relative;
}

.img_story {
	display: inline-block;
	vertical-align: top;
	width: 33.33333%;
	float: left;
}

.img_story img.story_img {
	margin: 0 auto;
}

.story_image_left.img_story {
	text-align: right;
}
.story_image_left.img_story img.story_img {
	width: calc(100% - 5px);
	margin-top: 2px;
	margin-left: 3px;
	padding: 0;
	box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.15);
}

.story_image_center.img_story {
	text-align: center;
	padding: 0;
}

.story_image_right.img_story {
	text-align: left;
}
.story_image_right.img_story img.story_img {
	background: url('img/tan_bg.jpg') no-repeat;
	background-size: cover;
	width: calc(100% - 5px);
	padding: 0;
	box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.15);
	margin: 0;
}

.item_desc {
	background: url('img/tan_bg.jpg') no-repeat;
	background-size: 100%;
	position: absolute;
}

.img_story figure {
     position: relative;
     text-align: center;
     padding: 4px;
     background: url('img/tan_bg.jpg') no-repeat;
     background-size: cover;
}
.img_story figure img.story_img {
    display: block;
    box-shadow: 0 2px 3px -1px rgba(0, 0, 0, 0.15);
}
.img_story figcaption {
    background: #fdf9f6;
    height: 50px;
    font-family: 'BrandonGrotesque-Regular';
    font-size: 14px;
    font-weight: 500;
    text-transform: uppercase;
    letter-spacing: .5px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2)!important;
    text-align: center;
    color: #110705;
    padding-top: 15px;
}
.img_story img.marker {
	width: 32px;
	margin: 0 auto;
}
.story_image_left.img_story figcaption,
.story_image_right.img_story figcaption{
	width: 85%;
	margin: 0 auto;
	box-shadow: 0 4px 2px -2px rgba(0, 0, 0, 0.2);
	margin-top: -24px;
	position: relative;
}

.story_image_center.img_story figcaption{
	width: 95%;
	margin: -75px auto 0;
	position: relative;
	top: 22px;
}

.story_chapters {
	text-align: center;
	background-size: 100% 100%;
	background-position: center;
	position: relative;
	padding-bottom: 0;
}
.story_chapters h2 {
	color: #110705;
	font-family: 'BrandonGrotesque-Light';
	font-weight: 200;
	font-size: 66px;
	margin-bottom: 20px;
	line-height: 1.3em;
}
.prev_next_story {
	width: calc(50% - 1px);
	margin-bottom: 1px;
	float: left;
	height: 240px;
	margin-left: 1px;
	position: relative;
	overflow: hidden;
}

.prev_story {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.story_top_layer_overlay button:before {content: '';position: absolute;left: -1px;top: -2px;background-position: center center;background-repeat: repeat;background-size: 96%;bottom: 0;right: -1px;bottom: -2px;border: 2px solid #bb9d3b;}

.story_top_layer_overlay button:after {content: '';}
.prev_story h3 {
	font-family: 'BrandonGrotesque-Light';
	font-size: 14px;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	color:#110705;
	padding-bottom: 20px;

}
.prev_story img.circle_collect {
}
.middle_story img.circle_collect {
}
.next_story {
	display: inline-block;
	vertical-align: top;
	text-align: center;
}
.next_story h3 {
	font-family: 'BrandonGrotesque-Light';
	font-size: 14px;
	font-weight: 200;
	text-transform: uppercase;
	text-align: center;
	color:#110705;
	padding-bottom: 20px;

}
.next_story img.circle_collect {
}
.prev_next_story img.circle_collect {
	width: 100%;
	height: auto;
	opacity: 1;
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	bottom: 0;
}
.next_story img.circle_collect:after {
	content: url('wp-conten/themes/successean/img/arrow_left.png');
}

.prev_next_story figure {
     position: relative;
     height: 100%;
}
.top_bar {
    position: relative;
    z-index: 1;
}
.mobilenav > ul > li > a {
    box-shadow: none!important;
    font-family: 'BrandonGrotesque-Regular';
    display: block!important;
    height: 40px!important;
    background: rgba(255, 255, 255, 0.13)!important;
    line-height: 40px;
    margin-bottom: 2px!important;
    letter-spacing: .2px;
    text-transform: uppercase;
    font-size: 18px;
}

a.icon > .hamburger {
    width: 40px;
    height: 40px;
    border-radius: 26px;
}

a.icon > .hamburger .menui {
    border-radius: 0!important;
    margin-top: 11px;
    margin-left: 5px;
}

.mobilenav > ul > li {
    margin-bottom: 2px!important;
    height: 40px!important;
}

.mobilenav > ul {
    margin-top: 100px!important;
}
/*.prev_next_story figure img {
    display: block;
}*/
.prev_next_story figcaption {
    position: absolute;
    right: 0;
    font-family: 'BrandonGrotesque-Bold';
    font-size: 20px;
    text-transform: uppercase;
    text-align: center;
    color: #fff;
    transform: translate(0%,-50%);
    width: 40%;
    z-index: 5;
    top: 50%;
    margin: 0 auto;
}

img.arrow_left,
img.arrow_right {
	margin-bottom: 70px;
}
/*a.coll_filter:before {
    position: absolute;
    border: 1px solid #817c7b;
    background: #FFFFFF;
    left: 0px;
    top: 5px;
    width: 16px;
    height: 16px;
    content:'';
    border-radius: 1px;
    transition: .1s ease all;
}*/
img.arrow_left {
	margin-right: 20px;
}
img.arrow_right {
	margin-left: 20px;
}


/*SIZE GUIDE*/

.fittingHeaderMedia {
	height: 280px;
	background-position: center top;
	background-size: cover;
	top: 65px;
	left: 0;
	z-index: -1;
	right: 0;
	margin-bottom: 30px;
}
.fittingHeaderCopyBox {
    background: rgba(255, 255, 255, 0.95);
    max-width: 890px;
    margin: 0 auto;
    position: absolute;
    left: 10%;
    right: 10%;
    padding: 48px 24px 36px;
    box-shadow: 0 -20px 50px rgba(0,0,0,.4);
    text-align: center;
    top:150px;
}

.fittingHeaderCopyBox h1 {
	font-family: 'BrandonGrotesque-Regular';
    color: #110705;
    text-transform: uppercase;
    letter-spacing: 2.8px;
    font-weight: 300;
    margin-top: 0;
}
.fittingHeaderCopyBox h6 {
	font-family: 'BrandonGrotesque-Medium';
    color: #c09a39;
    letter-spacing: 0;
    font-size: 15.5px;
    max-width: 690px;
    line-height: 24px;
    margin: 0 auto;
    font-weight: 300;
    width: 80%;
}
.fittingTable {
    max-width: 980px;
    position:relative;
    margin-bottom:24px;
    height: 340px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-position: center center;
    width: 40%;
    background-size: contain;
    display: inline-block;
    vertical-align: top;
    margin-right: 3%
}
.fittingAdditionalInfo {
    max-width: 890px;
    margin: 0 auto;
    overflow: hidden;
    display: inline-block;	
    vertical-align: top;
    width: 55%;
}
.fittingAdditionalInfo > .infoBox {
    padding: 24px 20px;
    width: calc(50% - 41px);
    display: inline-block;
    float: left;
    height: 300px;
}

.fittingAdditionalInfo h1 {
	font-family: 'BrandonGrotesque-Regular';
    text-transform: uppercase;
    font-weight: 300;
    margin-bottom: 9px;
    color: #c09a39;
}
.fittingAdditionalInfo > .infoBox b {
	font-family: 'BrandonGrotesque-Regular';
    font-weight: 300;
    text-transform: uppercase;
    letter-spacing: 2.8px;
}

.fittingAdditionalInfo > .infoBox p {
	font-family: 'BrandonGrotesque-Regular';
    font-weight: 300;
    margin: 4px 0;
    text-align: left;
    font-size: 14px;
}
.fittingAdditionalInfo > .infoBox i {
	font-size: 13px;
}
.fittingAdditionalInfo > .infoBox:nth-child(4) {
    border-top: 1px solid #c09a39;
    border-right: 1px solid #c09a39;
}
.fittingAdditionalInfo > .infoBox:nth-child(2) {
    border-right: 1px solid #c09a39;
}
.fittingAdditionalInfo > .infoBox:nth-child(5) {
    border-top: 1px solid #c09a39;
}
.fittingAdditionalInfo:after {
    clear: both;
    content: '';
    display: table;
}	
​
/*	.fittingHeader {
	    position: relative;
	    height:300px;
	    text-align: center;
	    color: #FFFFFF;
	}*/






/*------------------------------------*\
    SIDEBAR SHOP FILTER
\*------------------------------------*/
.filter_buttons {
	border-bottom: 1px solid rgba(151, 147, 146, 0.2);
}
.btn_filter {
	/*background: transparent;*/
	border:1px solid #000;
	background: rgba(255, 255, 255, 0.5);
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 13px;
	width: 100%;
	color: #979392;
	text-align: center;
	padding-left: 0;
	text-transform: uppercase;
	display: block;
	border: 0;
	margin-top: 16px;
	letter-spacing: .6px;
	margin-bottom: 2px;
	padding-bottom: 0;
}
.btn_filter.active {
	font-family: 'BrandonGrotesque-Medium';
	-webkit-font-smoothing: antialiased;
}

.filter_list{
	margin-top: 0px;
}
ul.filter_cat h6{
	font-family: 'BrandonGrotesque-Bold';
	text-transform: uppercase;
	letter-spacing: 0.1em;
	font-size: 11px;
	color:#979392;
	padding-top: 5px;
	padding-bottom: 5px;
}
ul.filter_cat li {
	font-family: 'BrandonGrotesque-Light';
	font-size: 15px;
	color:#110705;
	margin: 2px auto;
}

ul.filter_cat label.checkbox input[type="checkbox"] {display:none;}
ul.filter_cat label.checkbox span {
    display: inline-block;
    border: 1px solid #110705;
    border-radius: 0;
    width: 15px;
    height: 15px;
    background: #fff;
    vertical-align: top;
    margin: 3px 7px 3px 3px;
    color:#110705;
}
ul.filter_cat label.checkbox :checked + span {
    background:#110705;
}

.yith-wcan-label li {
	float: none;
}

.yith-wcan-label li a {
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    text-align: center;

}
.yith-wcan-label li span {
	color:#ababab;
	font-family: 'BrandonGrotesque-Light';
	font-weight: 200;
    background: #fff;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    text-align: center;
}

a.coll_filter {
		background: #efefef;
    border: 1px solid #ddd;
    display: block;
    margin: 5px 5px 5px 0;
    padding: 2px;
    overflow: hidden;
    text-decoration: none;
    font-family: 'BrandonGrotesque-Regular';
    font-weight: 200;
    -webkit-font-smoothing: antialiased;
    font-size: 15px;
    text-align: center;

/*	display: block;
	margin: 3px 5px 4px 0;
	padding: 2px;
	padding-top: 2px;
	padding-left: 24px;
	position: relative;
	overflow: hidden;
	text-decoration: none;
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	-webkit-font-smoothing: antialiased;
	font-size: 16.5px;
	text-align: center;
	color: #110705;
	transition: .1s ease all;
	text-align: left;*/
}
a.coll_filter:hover {
	background:#7b8ab3;
	color:#fff;
}
a.coll_filter:active {
	color:red;
}
/*------------------------------------*\
    SIDEBAR SHOP LOCATIONS
\*------------------------------------*/
aside.sidebar_locations {
	position: absolute;
	top:190px;
	left:40px;
}

aside.sidebar_locations h5 {
	font-family: 'BrandonGrotesque-Bold';
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
	color:#555452;
	line-height: 2em;
	margin-bottom: -4px;
}
.sidebar_locations_wrapper h5,.sidebar_locations_wrapper p {
    text-align: left;
    color: #555452;
}
aside.sidebar_locations p {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 12.5px;
	color:#555452;
	text-align: left;
}
aside.sidebar .us_location {
	margin: 20px auto;
}
/*------------------------------------*\
    ABOUT PAGE
\*------------------------------------*/
/*body.about .page_wrapper {
	 width: 100%;
	 margin: 0 auto;
}*/

.page_about_container {
	width: 100%;
	background: url('img/palm_tree_bg.png') no-repeat;
	background-size: cover;
	margin: 0 auto 120px;
	padding-top: 50px;
	

}
.page_about_header {
	text-align: center;
	margin-bottom: 30px;
}
.page_about_header h1 {
	font-family: 'BrandonGrotesque-Light';
	font-size: 48px;
	font-weight: 200;
	text-transform: uppercase;
	color:#bb9d3b;
	margin: -14px auto 0;
	width: 60%;
	letter-spacing:0.1em;
}
.page_about_header p {
	width: 60%;
	margin:0 auto;
	font-family: 'BrandonGrotesque-Medium';
	font-size:16px;
	color:#bb9d3b;
}

.about_center_panel {
	text-align: center;
    background: rgba(255, 255, 255, 0.7);
    width: 550px;
    margin: 0 auto;
    position: relative;
}
.about_center_panel h2 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 32px;
	font-weight: 200;
	text-transform: uppercase;
	color:#110705;
	letter-spacing:0.1em;
	line-height: 2em;
	padding-top: 20px;
}
.about_center_panel p {
	width: 80%;
	margin:0 auto;
	font-family: 'BrandonGrotesque-Medium';
	font-size:15px;
	color:#110705;
}

.about_center_panel button.about_shop {
	margin: 30px auto;
    display: block;
	font-size: 12px;
    font-family: 'BrandonGrotesque-Regular';
    text-transform: uppercase;
    padding: 12px 24px;
    letter-spacing: 0.1em;
    background: #bb9d3b;
    border: 0;
    vertical-align: top;
    
}
.about_center_panel button.about_shop a {
	color:#fff;
}
.post-type-archive-product aside.sidebar:after {content: '';position: absolute;left: 0;top: 0;right: 0;bottom: 0;background: url('/wp-content/themes/successean/img/tan_bg.jpg') no-repeat;background-size: 86%;height: 100%;opacity: 1;background-repeat: repeat;z-index: -1;}

.filter_buttons:first-child {
    margin-top: -5px;
}

.woocommerce .widget_layered_nav ul.yith-wcan-label li a:before, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li a:before, .woocommerce .widget_layered_nav ul.yith-wcan-label li span, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li span {content: '';position: absolute;border: 1px solid #817c7b;background: #FFFFFF;left: 0px;top: 4px;width: 16px;height: 16px;border-radius: 1px;transition: .1s ease all;}

.woocommerce .widget_layered_nav ul.yith-wcan-label li.chosen a:before, .woocommerce-page .widget_layered_nav ul.yith-wcan-label li.chosen a:before {
    background: #110705;
}
.about_portions {
	display: inline-block;
	vertical-align: top;
	width: 45%;
	margin-bottom: 20px;
	border-right: 1px solid #bb9d3b;
}
.about_portions.about_company {
	border-right: 0;
}
.about_portions h4 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 18px;
	font-weight: 200;
	text-transform: uppercase;
	color:#110705;
	letter-spacing:0.1em;
	line-height: 2em;
}
.about_portions button {
	margin: 20px auto;
    display: block;
	font-size: 12px;
    font-family: 'BrandonGrotesque-Medium';
    text-transform: uppercase;
    padding: 6px 18px;
    letter-spacing: 0.1em;
    background: transparent;
    border: 2px solid #bb9d3b;
}
.about_portions button a{
	color:#bb9d3b;
}
.about_portions button:hover {
	background: #bb9d3b;
}
.about_portions button:hover > a {
	color:#fff;
}
img.about_logo {
	width: 180px;
	margin-bottom: -90px;
}

/*------------------------------------*\
    RETURNS PAGE
\*------------------------------------*/
.returns_section {
	width: 80%;
	margin: 0 auto;
}
.page_returns_header h3 {
	font-family: 'BrandonGrotesque-Bold';
	font-size: 24px;
	font-weight: 200;
	text-transform: uppercase;
	color:#110705;
	letter-spacing:0.1em;
	text-align: center;
	padding-bottom: 20px;
}
/*------------------------------------*\
    CONTACT PAGE
\*------------------------------------*/
.page_contact_wrapper {
	margin-left: 200px;
}
.page-template-default div.page_contact_header p {
    max-width: 690px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 12px;
    position: relative;
    text-shadow: 0 0 50px #000000;
    font-size: 18.5px;
    font-weight: 500;
    line-height: 1.3em;
    color: #FFFFFF;
}

.contact_hero:after {
    background: linear-gradient(rgba(0, 0, 0, 0.4) 0%, rgb(0, 0, 0) 100%);
    position: absolute;
    content: '';
    left: 0;
    opacity: .4;
    top: 0;
    right: 0;
    bottom: 0;
}

.contact_page_form {
    background: #f9f9f9;
    padding-top: 55px;
    padding-bottom: 42px;
}

p {}

.contact_page_form form {
    display: block;
    width: 95%;
    max-width: 540px;
    margin-left: auto;
    border-left: 2px solid #bb9d3b;
    margin-right: auto;
    padding-left: 15px;
    left: -15px;
}

.contact_page_form {}

.contact_page_form form input,.contact_page_form form textarea {
    width: 100%!important;
    margin-top: 3px;
    font-family: 'BrandonGrotesque-Regular';
    outline: 0;
    padding: 12px 14px;
}

.contact_page_form form textarea {
    height: 112px;
    resize: none;
}

.contact_page_form form input:focus, .contact_page_form form textarea:focus {
    border-color: #a7a59d;
}
.contact_hero {
    width: 100%;
    height: 381px;
    left: 0;
    top: 0;
    right: 0;
    position: absolute;
}

.contact_hero > .square {
    background-image: url(img/contact_hero_image_square.jpg);
    width: calc(60% - 1px);
    right: 0;
    height: 100%;
    position: absolute;
    left: calc(40% + 1px);
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}

.contact_hero > .rectangle {
    background-image: url(img/contact_hero_image_rectangle.jpg);
    width: 40%;
    height: 100%;
    position: absolute;
    left: 0;
    background-size: cover;
    background-position: center center;
    background-repeat: no-repeat;
}
.page_contact_header {
	text-align: center;
	margin-bottom: 25px;
	position: relative;
}
.page_contact_header h1 {
	font-family: 'BrandonGrotesque-Light';
	font-size: 64px;
	font-weight: 500;
	text-transform: uppercase;
	color: #FFFFFF;
	z-index: 2;
	position: relative;
	letter-spacing:0.1em;
	padding-bottom: 3px;
	padding-top: 7px;
	padding-right: 24px;
	padding-left: 24px;
	display: inline-block;
	margin-top: 66px;
	margin-bottom: 0;
}
.page_contact_header h4 {
	font-family: 'BrandonGrotesque-Medium';
	font-size: 14px;
	font-weight: 600;
	text-transform: uppercase;
	color:#110705;
	padding: 12px;
	margin-bottom: 25px;
	letter-spacing: .6px;
	position: relative;
	z-index: 2;
	background: #FFFFFF;
	border: 1px solid transparent;
	-webkit-border-image: url('img/top_border.png') 30 round; /* Safari 3.1-5 */
	-o-border-image: url('img/top_border.png') 30 round; /* Opera 11-12.1 */
	border-image: url('img/top_border.png') 30 round;
}
body.cart .site_wrapper > .page_wrapper,body.press .site_wrapper > .page_wrapper,body.size-guide .site_wrapper > .page_wrapper,body.store-locator .site_wrapper > .page_wrapper,body.contact .site_wrapper > .page_wrapper{
    width: 90%;
    margin-bottom:120px;
}
.page-template-default div.page_contact_header p {
	font-family: 'BrandonGrotesque-Regular';
	position: relative;
}

.contact_page_form form p {
	font-family: 'BrandonGrotesque-Bold';
	font-size: 11px;
	font-weight: 200;
	text-transform: uppercase;
	color:#110705;
	text-align: left;
	letter-spacing:0.1em;
}
.contact_page_form span.label_quotes {
	font-size: 9px;
	color:rgba(17, 7, 5, 0.6);
}
.contact_page_form form input {
	margin-bottom: 20px;
	border: 1px solid rgba(167, 165, 157, 0.6);
	height: 42px;
	width: 50%;
	font-size: 16px;
}
.contact_page_form form input[type="checkbox"] {
	width: auto;
	height: auto;
	margin-right: 5px;
}
.contact_page_form form textarea {
	width: 70%;
	border: 1px solid rgba(167, 165, 157, 0.8);
	font-size: 16px;
}
.contact_page_form form p.send_button {
	background-size: 100% 100%;
	padding-top: 13px;
	text-align: center;
	min-height: 78px;
	transition: .1s ease all;
}
.contact_page_form form input[type="submit"] {
	background-color: rgba(255, 255, 255, 1);
    border: 2px solid #bda242;
    border-radius: 0;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 14px;
    font-weight: 200;
    text-transform: uppercase;
    color: #bda242;
    letter-spacing: 0.05em;
    text-align: center;
    height:45px;
    width: 300px;
}
.contact_page_form form input[type="submit"]:hover {
	background:#bda242; 
	color: #fff;
}



/*------------------------------------*\
    STORE LOCATOR PAGE
\*------------------------------------*/
.page_retailer_header {
	text-align: center;
	margin-bottom: 25px;
}
.page_retailer_header h1 {
	font-family: 'BrandonGrotesque-Bold';
	font-size: 30px;
	font-weight: 200;
	text-transform: uppercase;
	color:#110705;
	letter-spacing:0.1em;
}
.retailer_location {
	margin-top: 20px;
}
.retailer_location h4 {
	font-family: 'BrandonGrotesque-Medium';
	font-size:14px;
	font-weight: 200;
	text-transform: uppercase;
	color:#110705;
	padding: 12px;
	margin-bottom: 25px;
	-webkit-border-image: url('img/top_border.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('img/top_border.png') 30 round; /* Opera 11-12.1 */
    border-image: url('img/top_border.png') 30 round;
}
.retailer_stores h5 {
	background: url('img/tan_bg.jpg') no-repeat;
	font-family: 'BrandonGrotesque-Medium';
	font-size:14px;
	font-weight: 200;
	text-transform: uppercase;
	color:#110705;
	padding: 12px;
	margin-bottom: 25px;
}
.retailer_stores h5:hover {
	cursor: pointer;
}
.retailer_stores {
	margin-top: 25px;
}
.retailer_stores table{
	text-align: left;
	display: none;
}
.retailer_stores table th {
	border-bottom: 1px solid #bda242;
	padding-bottom: 10px;
	font-family: 'BrandonGrotesque-Bold';
	font-size: 13px;
	font-weight: 200;
	text-transform: uppercase;
	color:#979392;
	letter-spacing: 0.1em;
}
.retailer_stores table td {
	border-bottom: 1px solid #bda242;
	padding-top: 16px;
	padding-bottom: 16px;
	font-family: 'BrandonGrotesque-Bold';
	font-size: 12px;
	font-weight: 200;
	text-transform: uppercase;
	color:#110705;
	
}

/*------------------------------------*\
    PAGE TEMPLATE
\*------------------------------------*/
.page-template-default p {
	font-family: 'BrandonGrotesque-Regular';
	font-size:15px;
	font-weight: 200;
	color:rgba(17, 7, 5, 0.8);
	text-align: center;
}

body.woocommerce .page_wrapper {
    width: 90%;
}


/*------------------------------------*\
    FOOTER
\*------------------------------------*/
.footer_wrapper {
	width: 90%;
	margin: 0 auto;
	padding-top: 9px;
}
.top_footer {
	border-bottom: 1.5px solid #fff;
	background: url('img/footer_bg.png') no-repeat;
	background-size: cover;
}
.bottom_footer{
	background: #7b8ab3;
	background-size: cover;
	padding-bottom: 5px;
}
.footer_left {
	padding-bottom: 15px;
	display: inline-block;
	width: 50%;
}
.story_top_layer_overlay button a:hover {
    background: #bb9d3b;
    color: #FFFFFF;
}
.footer_left h4 {
	color:#fff;
	font-size: 18px;
	font-family: 'BrandonGrotesque-LightItalic';
}

.footer_right {
	padding-bottom: 22px;
	display: inline-block;
	text-align: right;
	width: 40%;
}
.social_footer ul li {
	display: inline-block;
	vertical-align: middle;
	width: 15%;
}
img.social_icon {
	height:25px;
}
.newsletter_form {
	margin-top: 12px;
}
.newsletter_form input[type="text"] {
    font-size: 14px;
    font-family: 'BrandonGrotesque-Regular';
    color: #110705;
    width: 300px;
    padding: 6px;
    border: 0;
}
.newsletter_form input[type="submit"]{
	display: inline-block;
	vertical-align: top;
	font-size: 14px;
	font-family: 'BrandonGrotesque-Medium';
	text-transform: uppercase;
	color: #fff;
	padding: 0px 20px;
	height: 32px;
	letter-spacing: 0.1em;
	background: #bb9d3b;
	border: 0;
	margin-top: 0;
	line-height: 35px;
}
p.wysija-paragraph {
	display: inline-block;
	vertical-align: top;
}
.footer_cols {
	display: inline-block;
	vertical-align: top;
	width: 33%;
}
p.copyright_p {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 12px;
	color:#fff;
	font-weight: 500;
	text-align: left;
	width: 390px;
	line-height: 14px;
	padding-top: 10px;
	margin-left: -6.5%;
}
.footer_cols h3 {
	color: #D2B042;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 16px;
	letter-spacing: 1px;
	text-transform: uppercase;
	margin-top: 8px;
	margin-bottom: 5px;
}
.footer_cols ul {
	display: inline-block;
	vertical-align: top;
	margin-right: 10px;
}
.footer_cols ul li a {
	color:#fff;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 17.5px;
	font-weight: 500;
}
.footer_cols ul li a:hover {
	text-decoration: underline;
}

.footer_cols.footer_col_4 {
	text-align: center;
}
.footer_cols.footer_col_4 ul {
	margin-right: 0;
}
.footer_cols.footer_col_4 ul li {
	text-align: left;
}

/*------------------------------------*\
    STICKY FOOTER
\*------------------------------------*/
* {
  margin: 0;
}
html, body {
  height: 100%;
}
.site_wrapper {
  min-height: 100%;
  /* equal to footer height */
  /* margin-bottom: 150px; */
}
.site_wrapper:after {
  content: "";
  display: block;
}
.site_footer, .site_wrapper:after {
  /*height: 330px; */
  margin: 1px;
}
/*.site_footer {
  	background: url('img/footer_bg.png') no-repeat;
  	background-size: 100% 111%;
  	padding-bottom: 20px;
}*/





/*------------------------------------*\
	TYPOGRAPHY
\*------------------------------------*/

@font-face {
	font-family: 'BrandonGrotesque-Medium';
	src: url('fonts/BrandonGrotesque-Medium.eot');
	src: url('fonts/BrandonGrotesque-Medium.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Medium.woff') format('woff'),
		url('fonts/BrandonGrotesque-Medium.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Bold';
	src: url('fonts/BrandonGrotesque-Bold.eot');
	src: url('fonts/BrandonGrotesque-Bold.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Bold.woff') format('woff'),
		url('fonts/BrandonGrotesque-Bold.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-RegularItalic';
	src: url('fonts/BrandonGrotesque-RegularItalic.eot');
	src: url('fonts/BrandonGrotesque-RegularItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-RegularItalic.woff') format('woff'),
		url('fonts/BrandonGrotesque-RegularItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Regular';
	src: url('fonts/BrandonGrotesque-Regular.eot');
	src: url('fonts/BrandonGrotesque-Regular.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Regular.woff') format('woff'),
		url('fonts/BrandonGrotesque-Regular.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Thin';
	src: url('fonts/BrandonGrotesque-Thin.eot');
	src: url('fonts/BrandonGrotesque-Thin.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Thin.woff') format('woff'),
		url('fonts/BrandonGrotesque-Thin.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Black';
	src: url('fonts/BrandonGrotesque-Black.eot');
	src: url('fonts/BrandonGrotesque-Black.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Black.woff') format('woff'),
		url('fonts/BrandonGrotesque-Black.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-ThinItalic';
	src: url('fonts/BrandonGrotesque-ThinItalic.eot');
	src: url('fonts/BrandonGrotesque-ThinItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-ThinItalic.woff') format('woff'),
		url('fonts/BrandonGrotesque-ThinItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-LightItalic';
	src: url('fonts/BrandonGrotesque-LightItalic.eot');
	src: url('fonts/BrandonGrotesque-LightItalic.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-LightItalic.woff') format('woff'),
		url('fonts/BrandonGrotesque-LightItalic.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'BrandonGrotesque-Light';
	src: url('fonts/BrandonGrotesque-Light.eot');
	src: url('fonts/BrandonGrotesque-Light.eot?#iefix') format('embedded-opentype'),
		url('fonts/BrandonGrotesque-Light.woff') format('woff'),
		url('fonts/BrandonGrotesque-Light.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'GranjonRoman';
	src: url('fonts/GranjonRoman.eot');
	src: url('fonts/GranjonRoman.eot?#iefix') format('embedded-opentype'),
		url('fonts/GranjonRoman.woff') format('woff'),
		url('fonts/GranjonRoman.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: 'SackersItalianScript';
	src: url('fonts/sackers_italian_script.ttf') format('truetype');
	font-weight: normal;
	font-style: normal;
}


/*------------------------------------*\
    MISC
\*------------------------------------*/

::selection {
	background:#7b8ab3;
	color:#FFF;
	text-shadow:none;
}
::-webkit-selection {
	background:#7b8ab3;
	color:#FFF;
	text-shadow:none;
}
::-moz-selection {
	background:#7b8ab3;
	color:#FFF;
	text-shadow:none;
}

/*------------------------------------*\
    WORDPRESS CORE
\*------------------------------------*/

.alignnone {
	margin:5px 20px 20px 0;
}
.aligncenter,
div.aligncenter {
	display:block;
	margin:5px auto 5px auto;
}
.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.alignright {
	float:right;
	margin:5px 0 20px 20px;
}
a img.alignnone {
	margin:5px 20px 20px 0;
}
a img.alignleft {
	float:left;
	margin:5px 20px 20px 0;
}
a img.aligncenter {
	display:block;
	margin-left:auto;
	margin-right:auto;
}
.wp-caption {
	background:#FFF;
	border:1px solid #F0F0F0;
	max-width:96%;
	padding:5px 3px 10px;
	text-align:center;
}
.wp-caption.alignnone {
	margin:5px 20px 20px 0;
}
.wp-caption.alignleft {
	margin:5px 20px 20px 0;
}
.wp-caption.alignright {
	margin:5px 0 20px 20px;
}
.wp-caption img {
	border:0 none;
	height:auto;
	margin:0;
	max-width:98.5%;
	padding:0;
	width:auto;
}
.wp-caption .wp-caption-text,
.gallery-caption {
	font-size:11px;
	line-height:17px;
	margin:0;
	padding:0 4px 5px;
}
.sticky {

}
.bypostauthor {

}

/*------------------------------------*\
    WOOCOMMERCE UNIVERSAL
\*------------------------------------*/
.woocommerce .woocommerce-breadcrumb {
	font-family: 'BrandonGrotesque-Light';
	font-size: 11px;
	text-transform: uppercase;
	color:#110705;
	color: #979392;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	margin-top: 56px;
}
.woocommerce .woocommerce-breadcrumb a {
	color: #cac7bd;
	font-family: 'BrandonGrotesque-Light';
}
span.breadcumb_space {
    margin-left: 10px;
    margin-right: 10px;
    color: #979392;
    position: relative;
    font-size: 14px;
    top: 2px;
    font-family: 'BrandonGrotesque-Regular';
}
span.breadcumb_space:nth-child(1) {
    margin-left: 0;
}
.woocommerce .quantity .qty {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 13px;
	color:#110705;
	border: 1px solid #a7a59d;
}
div.wpcf7-validation-errors {
	 border-color:#ff0000;
	 font-family: 'BrandonGrotesque-Medium';
	 text-transform: uppercase;
	 font-size: 12px;
	 text-align: center;
}
div.wpcf7-mail-sent-ok {
	font-family: 'BrandonGrotesque-Medium';
	 text-transform: uppercase;
	 font-size: 12px;
	 text-align: center;
}
div#reviews {
	display: none;
}



/*------------------------------------*\
    WOOCOMMERCE LOGIN/REGISTER
\*------------------------------------*/
.woocommerce-account aside.sidebar {
		display: none;
	}

.woocommerce-account main {
	background: url('img/account_bg.png') no-repeat;
	background-size: 100% 100%;
	padding: 100px 20px 80px;
}

.woocommerce-account h1 {
	display: none;
}

.woocommerce-account .col-1,
.woocommerce-account .col-2 {
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	width: 550px;
	margin: 0 auto;
	border-bottom:7px solid #bb9d3b;
	height:423px;
}
.woocommerce-account .col-1 h2,
.woocommerce-account .col-2 h2 {
	padding-top: 25px;
	margin-bottom: 20px;
	font-family: 'BrandonGrotesque-Light';
	font-size: 24px;
	color:#bb9d3b;
}
.woocommerce-account form .form-row {
	margin: 0 auto;
}
.woocommerce-account form.login {
	border: 0;
	margin-top: 0;
	width: 80%;
	display: inline-block;
	padding-left: 0;
	border-radius: 0;
}
.woocommerce-account form.register {
	border: 0;
	margin-top: 0;
	padding-right: 0;
	width: 80%;
	display: inline-block;
	padding-left: 0;
	border-radius: 0;
}

.woocommerce-account form.login label,
.woocommerce-account form.register label{
	font-family: 'BrandonGrotesque-Medium';
	font-size: 13px;
	color:#bb9d3b;
}

.woocommerce-account form.login  input.input-text,
.woocommerce-account form.register  input.input-text {
	border: 0;
	height: 40px;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 12px;
	padding-left: 12px;
	color: #110705;
	font-size: 16.5px;
}

.woocommerce-account form.login  input.button,
.woocommerce-account form.register  input.button {
	background: #bb9d3b;
	color:#fff;
	border: 0;
	border-radius: 0;
	text-transform:uppercase;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 14px;
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
}
.woocommerce-account form.login label.inline {
	font-size: 15px;
	color:#110705;
	font-family: 'BrandonGrotesque-Regular';
}
.fb_login {
	display: inline-block;
	vertical-align: top;
	margin-top: 86px;
	width: 200px;
	margin-left: 15px;
}
.woocommerce-account p.lost_password {
	text-align:center;
	font-size: 13px;
}
.woocommerce-account p.lost_password a {
	font-family: 'BrandonGrotesque-Regular';
	color:#bb9d3b;
	
}
.woocommerce-account p.lost_password:hover {
	text-decoration: underline;
}


body.logged-in main {
	background:none;
	padding: 0;
}
body.logged-in img.footer_logo {
	display: none;
}
body.logged-in .page_logged_container {
    width: 100%;
    background: url('img/account_bg.png') no-repeat;
    background-size: cover;
    margin: 0 auto 120px;
    padding-top: 50px;
}

body.logged-in h2 {
	color: #110705;
	font-family: 'BrandonGrotesque-Regular';
	font-weight: 200;
	font-size: 26px;
	margin-bottom: 32px;
	line-height: 1.3em;
	margin-top: 0;
	text-transform: uppercase;
}
body.logged-in h2 span {
	padding-right: 0;
	margin-right: -5px;
	font-style: normal;
}
body.logged-in ul.account_view_nav a {
	color: #000;
    font-family: 'BrandonGrotesque-Light';
    font-weight: 200;
    font-size: 24px;
    line-height: 1.75em;
}
body.logged-in .about_portions {
	margin-bottom: 20px;
	border-right:none;
}
body.logged-in .about_center_panel {
	padding-bottom: 30px;
	border-bottom: 5px solid #bb9d3b;
}

.woocommerce-edit-account form.edit-account {
	width: 50%;
	margin: 0 auto;
}
.woocommerce-edit-account .woocommerce .woocommerce-message {
	position: absolute;
	height: 62px;
}
.woocommerce-edit-account h2 {
	margin-bottom: 10px !important;
}
.woocommerce-edit-account > h3 {
	color: #110705;
    font-family: 'BrandonGrotesque-Light';
    font-weight: 200;
    font-size: 20px;
    margin-bottom: 10px;
    line-height: 1.3em;
}
.woocommerce-edit-account address {
	color: #110705;
	font-family: 'BrandonGrotesque-Light';
	font-weight: 500;
	font-size: 14px;
	letter-spacing: 0;
	margin-bottom: 10px;
	line-height: 1.1em;
	padding-right: 60px;
	margin-top: 8px;
	text-align: left;
}
.woocommerce-edit-account p.myaccount_address {
   text-align: left;
    padding-bottom: 20px;
}
/*------------------------------------*\
    WOOCOMMERCE LOST PASSWORD
\*------------------------------------*/
.woocommerce-lost-password .lost_pass{
	text-align: center;
	background: rgba(255, 255, 255, 0.8);
	width: 550px;
	margin: 0 auto;
	border-bottom:7px solid #bb9d3b;
	height:423px;
}

.woocommerce-lost-password .lost_pass h2 {
	padding-top: 25px;
	margin-bottom: 20px;
	font-family: 'BrandonGrotesque-Light';
	font-size: 24px;
	color:#bb9d3b;
}

.woocommerce-lost-password form.lost_reset_password {
	border: 0;
	margin-top: 0;
	width: 80%;
	display: inline-block;
	padding-left: 0;
	border-radius: 0;
}

.woocommerce-lost-password form.lost_reset_password label{
	font-family: 'BrandonGrotesque-Medium';
	font-size: 13px;
	color:#bb9d3b;
	text-align: left;
}

.woocommerce-lost-password form.lost_reset_password p.form-row.form-row-first {
	width: 100%;
	margin-top: 40px;
	margin-bottom: 10px;
}

.woocommerce-lost-password form.lost_reset_password input.button {
	background: #bb9d3b;
	color:#fff;
	border: 0;
	border-radius: 0;
	text-transform:uppercase;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 14px;
	width: 100%;
	margin-top: 10px;
	padding-left: 10px;
}

.woocommerce-lost-password form.lost_reset_password p {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 16px;
	font-weight: normal;
	color:#110705;
	
}


/*------------------------------------*\
    WOOCOMMERCE SHOP PAGE (ARCHIVE-PRODUCT)
\*------------------------------------*/
	.post-type-archive-product .woocommerce-breadcrumb {
		display: none;
	}
	.post-type-archive-product .woocommerce-info {
		display: none;
	}

	.post-type-archive-product div#content {
		margin-left: 125px;
	}

	.post-type-archive-product h1.page-title {
	    color: #bb9d3b;
	    font-family: 'BrandonGrotesque-Light';
	    font-weight: 200;
	    font-size: 26px;
	    margin-top: -20px;
	    margin-bottom: 20px;
	    line-height: 1.3em;
	    text-align: center;
	    background: #fff;
	    position: absolute;
	    margin-left: auto;
		margin-right: auto;
		left: 125px;
		right: 0;
		width: 130px;
	}

	.post-type-archive-product ul.products li {
		text-align: center;
	}
	.post-type-archive-product ul.products li.product h3 {
	    font-family: 'BrandonGrotesque-Light';
	    font-weight: 600;
	    font-size: 14px;
	    text-transform: uppercase;
	    color: #110705;
	    padding: 0;
	    line-height: 17px;
	    background: #fff;
	    width: 80%;
	    letter-spacing: .9px;
	    margin: 0 auto;
	    padding-top: 0px;
	    margin-top: -6px;
	    margin-bottom: 4px;
	}
	.post-type-archive-product ul.products li.product span.price {
		font-family: 'BrandonGrotesque-Medium';
	    font-weight: 200;
	    font-size: 12px;
		color:#110705;
		background: #fff;
		width: 80%;
		margin: 0 auto;
	}
	img.shop_top_border {
		height:2px;
		width: 100%;
	}
	.shop_header {
		margin-left: 95px;
		margin-bottom: 35px;
	}
	.shop_page_wrapper {
		text-align: center;
	}

	.shop_page_layer {
		margin-left: 95px;
	}


	.post-type-archive-product aside.sidebar {
	    position: absolute;
	    top: 67px;
	    padding: 0px 16px;
	}

	.post-type-archive-product ul.products {
		min-height: 700px;
	}
	.post-type-archive-product ul.products img {
		width: 100%; 
	  	height: auto; 
	 	margin-bottom: .9vw;
	  	border: 3px solid #fff;
	}
	.post-type-archive-product ul.products img:hover {
		border: 1px solid #bb9d3b;
		opacity: 0.7;
	}
	.post-type-archive-product a.button {
		display: none;
	}
	.post-type-archive-product p.woocommerce-result-count {
		display: none !important;
	}
	.post-type-archive-product .woocommerce-ordering {
		display: none !important;
	}

	.post-type-archive-product .yith-wcwl-add-button,
	.tax-product_cat .yith-wcwl-add-button{
    font-family: 'BrandonGrotesque-Regular';
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(189, 162, 66, 0.8);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 15px;
    padding-top: 8px;
	}
	.post-type-archive-product .yith-wcwl-add-button:hover,
	.tax-product_cat .yith-wcwl-add-button:hover{
		text-decoration: underline;
	}
	
	.post-type-archive-product .yith-wcwl-add-button:before,
	.tax-product_cat .yith-wcwl-add-button:before{
    	content: '';
		top: -7px;
		right: 0;
		bottom: 0;
		left: -7px;
		opacity: .9; 

  	}
  	.post-type-archive-product .yith-wcwl-wishlistexistsbrowse,
  	.post-type-archive-product .yith-wcwl-wishlistaddedbrowse,
  	.tax-product_cat .yith-wcwl-wishlistexistsbrowse,
  	.tax-product_cat .yith-wcwl-wishlistaddedbrowse{
    font-family: 'BrandonGrotesque-Regular';
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(189, 162, 66, 0.8);
    text-align: center;
    display: inline-block;
    vertical-align: top;
    height: 15px;
     padding-top: 8px;
}
  	.post-type-archive-product .yith-wcwl-wishlistexistsbrowse.show > a:hover {
  		text-decoration: underline !important;
  	}

/*------------------------------------*\
    WOOCOMMERCE PRODUCT CATEORY PAGE
\*------------------------------------*/
	.tax-product_cat .woocommerce-breadcrumb {
			display: none;
		}
	.tax-product_cat .woocommerce-info {
		display: none;
	}

	.tax-product_cat div#content {
		margin-left: 160px;
	}
	.tax-product_cat a.button {
		display: none;
	}
	.tax-product_cat p.woocommerce-result-count {
		display: none !important;
	}
	.tax-product_cat .woocommerce-ordering {
		display: none !important;
	}


	.tax-product_cat h1.page-title {
	    color: #bb9d3b;
	    font-family: 'BrandonGrotesque-Light';
	    font-weight: 200;
	    font-size: 26px;
	    margin-top: -20px;
	    margin-bottom: 20px;
	    line-height: 1.3em;
	    text-align: center;
	    background: #fff;
	    position: absolute;
	    margin-left: -98px;
	    margin-right: auto;
	    left: 50%;
	    right: 0;
	    width: 197px;
	}

	.tax-product_cat ul.products li {
		text-align: center;
	}
	.tax-product_cat ul.products li.product h3 {
	    font-family: 'BrandonGrotesque-Light';
	    font-weight: 200;
	    font-size: 14px;
		text-transform: uppercase;
		color: #110705;
		padding: 0;
		background: #fff;
		width: 80%;
		margin: 0 auto;
		padding-top:5px;
	}
	.tax-product_cat ul.products li.product span.price {
		font-family: 'BrandonGrotesque-Medium';
	    font-weight: 200;
	    font-size: 12px;
		color:#110705;
		background: #fff;
		width: 80%;
		margin: 0 auto;
	}

	.tax-product_cat aside.sidebar {
	    position: absolute;
	    top: 67px;
	    background: url('/wp-content/themes/successean/img/tan_bg.jpg') no-repeat;
	    background-size: cover;
	    padding: 8px 20px 14px;
	    width: 228px;
	    border: 1px solid rgba(151, 147, 144, 0.37);
	}

	.tax-product_cat ul.products {
		min-height: 800px;
	}
	.tax-product_cat ul.products img {
		width: 100%; 
	  	height: auto; 
	 	margin-bottom: .9vw;
	  	border: 3px solid #fff;
	}
	.tax-product_cat ul.products img:hover {
		border: 1px solid #bb9d3b;
		opacity: 0.7;
	}

	img.shop_top_border {
		height:2px;
		width: 100%;
	}
	.shop_header {
		margin-left: 95px;
		margin-bottom: 35px;
		position: relative;
	}
	.shop_page_wrapper {
		text-align: center;
	}

	.shop_page_layer {
		margin-left: 95px;
	}

/*------------------------------------*\
   EDIT ACCOUNT / MY ACCOUNT / ADDRESSES/ ADD ADDRESS
\*------------------------------------*/
body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce > p:nth-of-type(2) {
    display: block;
    text-align: right;
    margin-top: -15px;
    font-weight: 500;
    font-family: 'GranjonRoman';
}
body.woocommerce-edit-address section.page_section form input.button:hover {
    transition: .1s ease all;
    background: rgba(123, 138, 179, 1);
    font-weight: 600;
}
body.woocommerce-edit-address section.page_section form {
    background: #FFFFFF;
    text-align: left;
    max-width: 822px;
    font-family: 'BrandonGrotesque-Regular';
    margin-left: auto;
    margin-right: auto;
    margin-top: -84px;
    z-index: 2;
    position: relative;
    margin-bottom: 42px;
    padding: 24px 35px;
    border-top: 4px solid #bb9d3b;
    border-bottom: 4px solid #bb9d3b;
    border-left: 4px solid #bb9d3b;
    border-right: 4px solid #bb9d3b;
}

body.woocommerce-edit-address section.page_section form p label {
    text-align: left;
    color: #110705;
    font-weight: 600;
    text-transform: uppercase;
    letter-spacing: .6px;
}

body.woocommerce-edit-address section.page_section form p input {
    border: 2px solid rgba(167, 165, 157, 0.4);
    padding: 6px 11px;
}

body.woocommerce-edit-address section.page_section form > h3 {
    font-family: 'BrandonGrotesque-Medium';
    color: #bb9d3b;
    margin-bottom: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
    text-align: center;
}

body.woocommerce-edit-address section.page_section form input.button {
    background: rgba(123, 138, 179, 0.8);
    border-radius: 0px;
    color: #FFFFFF;
    margin-top: 19px;
    transition: .1s ease all;
    border: 0;
    text-transform: uppercase;
    letter-spacing: .6px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-top: 0;
    line-height: 54px;
    height: 52px;
    max-width: 360px;
    padding-left: 32px;
    width: 100%;
    padding-right: 33px;
}

.select2-results .select2-result-label {
    font-family: 'BrandonGrotesque-Regular';
}

.select2-container .select2-choice {
    border: 2px solid rgba(167, 165, 157, 0.4)!important;
    padding: 6px 11px;
    text-align: left;
    border-radius: 0px!important;
}

.select2-drop {
    border: 2px solid rgba(167, 165, 157, 0.7)!important;
    border-top: 0!important;
    transform: translateY(-1px);
}

.select2-drop .select2-search {
    border-bottom: 2px solid rgba(167, 165, 157, 0.4)!important;
    margin-left: 4px;
    margin-right: 4px;
    width: calc(100% - 8px);
}

.select2-drop .select2-search input {
    border: 0!important;
    font-family: 'BrandonGrotesque-Regular';
}

li.select2-no-results {
    font-family: 'BrandonGrotesque-Regular';
    background: transparent!important;
    text-transform: uppercase;
    text-align: center;
    color: #a7a59d!important;
}

.select2-drop.select2-drop-above {}

div#select2-drop.select2-drop-above {
    border-top: 2px solid rgba(167, 165, 157, 0.7)!important;
    border-bottom: 0!important;
    transform: translateY(1px);
    border-radius: 0!important;
}

.select2-container.select2-dropdown-open .select2-choice {
    border: 2px solid rgba(167, 165, 157, 0.7)!important;
}

.select2-results > li.select2-highlighted {
    background: #bb9d3b;
    color: #FFFFFF;
    font-weight: 600;
}
body.woocommerce-edit-address section.page_section {
    max-width: 1080px;
    margin-left: auto;
    position: relative;
    margin-right: auto;
    padding-top: 340px;
}

body.woocommerce-edit-address section.page_section:before {
	content:'';
	background-image: url(img/address_edit_hero.jpg);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 300px;
	background-position: center center;
	background-size: cover;
}

.col2-set.addresses > div header.title h3 {
    font-family: 'BrandonGrotesque-Medium';
    text-transform: uppercase;
    font-size: 14.5px;
    color: #979392;
    letter-spacing: .6px;
}

.col2-set.addresses > div header.title a {
    background: rgba(123, 138, 179, 0.8);
    border-radius: 2px;
    color: #FFFFFF;
    transition: .1s ease all;
    text-transform: uppercase;
    font-size: 11.5px;
    padding: 0px 7px;
    height: 24px;
    border-radius: 1px;
    font-weight: 600;
    letter-spacing: .3px;
    line-height: 25px;
}

.col2-set.addresses > div:first-of-type {
    padding-right: 21px;
    border-right: 2px solid #bb9d3b;
}

.col-1.address {}
body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce h2 {
    text-transform: uppercase;
    text-align: Center;
    padding-top: 12px;
    padding-bottom: 12px;
    background: rgba(255, 255, 255, 0.44);
    padding-right: 44px;
    letter-spacing: 1px;
    color: #FFFFFF;
    border-top: 4px solid #bb9d3b;
    padding-left: 44px;
    display: inline-block;
    margin-bottom: 5px!important;
}
body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce form.edit-account:before {
    position: absolute;
    content: '';
    background: #FFFFFF;
    bottom: 103px;
    right: 0;
    height: 4px;
    left: 0;
    z-index: -1;
}
body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce form.edit-account {
    margin-left: 0;
    width: 45%;
    background: linear-gradient(180deg,rgba(255, 255, 255, .44) 0%,#FFFFFF 69%,#FFFFFF 100%);
    padding-top: 15px;
    padding-right: 24px;
    padding-left: 24px;
    max-width: 540px;
    display: block;
    position: relative;
    padding-bottom: 24px;
    border-bottom: 4px solid #bb9d3b;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce form.edit-account input {
    border-color: #a7a59d;
    border: 2px solid rgba(167, 165, 157, 0.49);
    padding: 6px 11px;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce form.edit-account p {
    text-align: left;
    color: #110705;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce form.edit-account p label {
    text-transform: uppercase;
    letter-spacing: .6px;
    font-weight: 600;
    font-size: 12px;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce > p {
    display: inline-block;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce:after {
    clear: both;
    content: '';
    display: table;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce p input.save_submit {
    position: absolute;
    left: 640px;
    top: 240px;
    background: rgba(123, 138, 179, 0.8);
    border-radius: 2px;
    color: #FFFFFF;
    transition: .1s ease all;
    text-transform: uppercase;
    letter-spacing: .6px;
    font-weight: 500;
    font-size: 20px;
    text-align: center;
    padding-top: 0;
    line-height: 54px;
    height: 52px;
    padding-left: 32px;
    padding-right: 33px;
    border: none;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce form.edit-account fieldset {
    border: 0;
    margin: 0;
    padding: 0;
    margin-top: 18px;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce form.edit-account fieldset legend {
    font-family: 'BrandonGrotesque-Medium';
    color: #bb9d3b;
    border-bottom: 2px solid #bb9d3b;
    margin-bottom: 6px;
    letter-spacing: 1px;
    text-transform: uppercase;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce > p input.button[name="save_account_details"]:hover {
    font-weight: 600;
    background: rgba(123, 138, 179, 1);
}

.col2-set.addresses {
    content: '';
    left: 0;
    top: 0;
    right: 0;
    bottom: 0;
    background-size: 86%;
    /* background: #fbfbfb; */
    height: 100%;
    opacity: 1;
    margin-bottom: 48px;
    background-repeat: repeat;
    z-index: -1;
    padding: 22px 16px 12px;
    border-bottom: 4px solid #bb9d3b;
    border-left: 4px solid #bb9d3b;
    float: right;
    padding-left: 31px;
    padding-top: 0;
    width: 52%;
    max-width: 507px;
}

.col2-set.addresses > div {
    background: transparent;
    border: 0;
    height: auto;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce form.edit-account:after {
    position: absolute;
    content: '';
    background: #bb9d3b;
    bottom: -4px;
    right: -4px;
    left: 100%;
    height: 111px;
    z-index: -1;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper .woocommerce h2:nth-of-type(2) {
    margin-top: 27px;
    border-top: 0;
    display: block;
    font-weight: 500;
    font-size: 32px;
    background: Transparent;
    text-align: right;
    padding-right: 0;
    margin-top: -91px;
    font-family: 'BrandonGrotesque-Medium';
    color: #bb9d3b;
}
body.woocommerce-edit-account {}

body.woocommerce-edit-account .page_wrapper {
    padding-left: 48px;
    padding-right: 48px;
}

body.woocommerce-edit-account .page_wrapper .page_wrapper:before {
	content:'';
	background-image: url(img/edit_Account_hero.jpg);
	position: absolute;
	left: 0;
	right: 0;
	top: 0;
	height: 410px;
	background-size: cover;
	background-position: center center;
	border-bottom: 4px solid #bb9d3b;
	z-index: -1;
}


/*------------------------------------*\
    WOOCOMMERCE SINGLE-PRODUCT
\*------------------------------------*/

.single-product .single_product_container {
	overflow: hidden;
	background: url('img/product_bg.jpg') no-repeat;
	background-size: 100% 100%;
	padding: 0 20px 20px;
}
.single-product div.product {
	overflow: hidden;
	background: url('img/product_bg.jpg') no-repeat;
	background-size: 100% 100%;
	padding: 0 20px 20px;
	max-width: 1080px;
	margin-left: auto;
	margin-right: auto;
	border: 1px solid rgba(151, 147, 146, 0.3);
}
.single-product .related.products .yith-wcwl-add-to-wishlist > div.yith-wcwl-wishlistexistsbrowse > a{
	
}
.single-product .related.products .yith-wcwl-add-to-wishlist > div > a.add_to_wishlist,.single-product .related.products .yith-wcwl-add-to-wishlist > div.yith-wcwl-wishlistexistsbrowse > a {
    background: rgba(189, 162, 66, 0.8);
    border-radius: 1px;
    padding: 0px 17px;
    height: 36px;
    color: #FFFFFF;
    display: block;
    line-height: 38px;
}

.single-product .related.products .yith-wcwl-add-to-wishlist > div.yith-wcwl-wishlistexistsbrowse > a {
    background: #c0beb7;
    border-radius: 1px;
}

.single-product .related.products li.product {
    margin-bottom: 8px!important;
}

.single-product .related.products li.product a:hover h3 {
    border-color: #bb9d3b;
}

.single-product .related.products li.product h3 {
    position: absolute;
    display: block;
    border-bottom: 1px solid rgba(151, 147, 146, 0.27);
    margin: 0 auto!important;
    border-top: 1px solid rgba(151, 147, 146, 0.27);
    width: auto;
    right: 20px;
    left: 20px;
    transition: .1s ease all;
    border-width: 1px;
    padding-top: 8px;
    line-height: 17px;
    bottom: auto;
    top: auto;
    height: 34px;
    text-overflow: ellipsis;
    overflow: hidden;
    white-space: pre;
    bottom: 68px;
    padding-right: 14px;
    padding-left: 14px;
    pointer-events: none;
    border-right: 0;
    border-left: 0;
    padding-bottom: 6px;
    background: rgba(232, 231, 236, 0.94);
    font-family: 'BrandonGrotesque-Light';
}

.single-product .related.products li.product a {
}
.single-product div#content {
	margin-bottom: 100px;
}
.single-product aside.sidebar {
	display: none !important;
}

.single-product .product_meta {
	display: none;
}
.single-product ul.tabs.wc-tabs {
	display: none;
}
.single-product div#tab-reviews {
	display: none;
}
.single-product .site_wrapper:after {
	height: 0;
}
.single-product div#tab-additional_information {
	display: none !important; 
}

.single-product h1.product_title.entry-title {
    font-weight: 500;
    font-size: 42px;
    text-transform: uppercase;
    color: #110705;
    letter-spacing: 1px;
    -webkit-font-smoothing: antialiased;
    line-height: 1.11em;
    margin-bottom: 20px;
    margin-right: 145px;
    font-family: 'BrandonGrotesque-Regular';
}

.single-product .summary.entry-summary {
	display: inline-block;
	width: 43%;
	position: absolute;
	top:100px;
	right:0;
}
.single-product .summary.entry-summary p {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 16px;
	color:#110705;
	width: 90%;
}
.single-product .summary.entry-summary p.price {
	font-family: 'BrandonGrotesque-Medium';
	padding-bottom: 25px;
	color: #110705;
	font-size: 20px;
	padding-bottom: 7px;
}

.single-product form.cart {
	margin-top: 50px;
	margin-bottom: 20px;
}
.single-product .quantity {
	margin-top: 5px;
	margin-bottom: 30px;
}
.single-product span.qty {
	text-transform: uppercase;
	font-family: 'BrandonGrotesque-Medium';
	font-size: 12px;
	color:#a7a59d;
	display: block;
	margin-bottom: 10px;
}
.single-product div.product form.cart div.quantity {
	float: none;
	margin-bottom: 20px;
}
.woocommerce button.button.alt:disabled {
	background: #858585 !important;
}
.single-product button.single_add_to_cart_button.button.alt {
    background-color: rgba(189, 162, 66, 0.8);
    border-radius: 0;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 16px;
    text-transform: uppercase;
    color: #fff;
    padding: 13px;
    letter-spacing: .6px;
    line-height: 45px;
    height: 44px;
    padding-bottom: 0;
    padding-top: 0;
    width: 200px;
}

.single-product .thumbnails.columns-3 {
    background-color: rgba(255, 255, 255, 0.4);
    padding: 1em 1em 0 !important;
}
.single-product .thumbnails.columns-3 img {
	width: 100px !important;
}


.single-product .related.products {
    margin-top: 60px;
}

.single-product .related.products h2 {
	font-family: 'BrandonGrotesque-Light';
	font-weight: 200;
	font-size: 24px;
	text-transform: uppercase;
	color: #110705;
	padding-bottom: 20px;
	letter-spacing: 0.1em;
	margin-bottom: -4px;
}
.single-product .related.products img {
	border: 1px solid rgba(151, 147, 146, 0.27);
}
div[itemprop="description"] p {
    color: #110705;
    font-size: 17.5px!important;
    font-weight: 500;
    display: block;
    line-height: 1.5em;
    margin-top: 10px;
    margin-right: 120px!important;
    width: 100%!important;
    padding-right: 120px;
}

.single-product .related.products .yith-wcwl-add-to-wishlist {
    font-family: 'BrandonGrotesque-Medium';
    letter-spacing: .6px;
    font-size: 14px;
    text-align: center!important;
}
.single-product .related.products .yith-wcwl-add-to-wishlist img{
	display: none!important;
}
.single-product .related.products .yith-wcwl-add-to-wishlist > a {
    text-align: center!important;
}
.single-product .related.products img:hover{
	border: 1px solid #bb9d3b;
	opacity: 0.7;
}
.single-product .related.products a.button{
	display: none;
}
.single-product ul.products li {
	text-align: center;
}
.single-product ul.products li.product h3 {
    font-family: 'BrandonGrotesque-Light';
    font-weight: 200;
    font-size: 14px;
	text-transform: uppercase;
	color: #110705;
	padding: 0;
	background: #fff;
	position: absolute;
	left:0;
	right:0;
	bottom: 50px;
	border-top: 2px solid #bb9d3b;
	border-left: 2px solid #bb9d3b;
	border-right: 2px solid #bb9d3b;
	width: 80%;
	margin: 0 auto;
	padding-top:5px;
	display: none;
}
.single-product ul.products li.product span.price {
	font-family: 'BrandonGrotesque-Medium';
    font-weight: 200;
    font-size: 12px;
	color:#110705;
	background: #fff;
	position: absolute;
	left:0;
	right:0;
	bottom: 33px;
	border-left: 2px solid #bb9d3b;
	border-right: 2px solid #bb9d3b;
	border-bottom: 2px solid #bb9d3b;
	width: 80%;
	margin: 0 auto;
	display: none;
}
/*.single-product .related.products h3 {
	display: none;
}
.single-product .related.products span.amount {
	display: none;
}*/

.single-product .related.products a.button.product_type_simple.add_to_cart_button.ajax_add_to_cart {
	display: none;
}
.single-product .related.products a.button.product_type_simple.ajax_add_to_cart {
	display: none;
}

.woocommerce #content div.product div.prod_images, .woocommerce div.product div.prod_images, .woocommerce-page #content div.product div.prod_images, .woocommerce-page div.product div.prod_images {
    float: none;
    width: 100%;
}
.woocommerce div.product div.prod_images img {
	width: 50%;
}
.woocommerce div.product div.prod_images a.img_1 img{
	margin-right: 1%;
	float: left;
}
/*.woocommerce div.product div.prod_images img{
	float: right;
	display: none;
}
*/
.woocommerce div.product div.prod_images img:nth-child(3) {
    display: block;
}
.woocommerce div.product div.prod_images img:first-child {
    display: block;
}

div.main_prod_img {
	position: relative;

}

div.main_prod_details {
	display: inline-block;
	vertical-align: top;
	width: 49.5%;
	margin-top: 30px;
}

.main_prod_details h4 {
	font-family: 'BrandonGrotesque-Bold';
    font-weight: 200;
	text-transform: uppercase;
	font-size: 11px;
	color:#979392;
	letter-spacing: 0.1em;
	padding-bottom: 8px;
	
	margin-bottom: 10px;
}
.main_prod_details h4#h4_first {
	border-bottom:1px solid #bb9d3b;
}
.main_prod_details h4#h4_second {
	border-top:1px solid #bb9d3b;
	padding-top: 12px;
	padding-bottom: 12px;
	border-bottom:1px solid rgba(151, 147, 146, 0.2);
}
.main_prod_details h4#h4_second {
	padding-top: 12px;
	padding-bottom: 12px;
}
p.ship_ret_text {
	font-family: 'BrandonGrotesque-Light';
    font-weight: 200;
    font-size: 15px;
    color: #110705;
    width: 95%;
    padding-bottom: 15px;
}
.main_prod_details h5 {
	font-family: 'BrandonGrotesque-Bold';
    font-weight: 200;
	text-transform: uppercase;
	font-size: 10px;
	color:#bb9d3b;
	letter-spacing: 0.1em;
	margin-bottom: 15px;
}

table.prod_size_table {
	width: 100%;
	margin-bottom: 20px;
}

tr.size_row {
	border-bottom:2px solid rgba(151, 147, 146, 0.2);
	padding-bottom:5px;
	height: 30px;
}
tr.cup_size_row {
	height: 40px;
}

table.prod_size_table td {
	font-family: 'BrandonGrotesque-Light';
	font-weight: 200;
	font-size: 15px;
	color:#110705;
}

ul.social_icons li {
	padding-right: 10px;
	display: inline-block;
}
ul.social_icons li img {
	width: 24px !important;
	float: none;
}
.single-product  div#tab-additional_information {
	display: none;
}

.single-product table.variations td.label label {
	font-family: 'BrandonGrotesque-Medium';
    font-weight: 200;
	text-transform: uppercase;
	font-size: 10px;
	color:#a7a59d;
	letter-spacing: 0.1em;
	margin-bottom: 30px;
}
.single-product table.variations tr.varies_label {
	height: 40px;
}

.woocommerce-variation-add-to-cart.variations_button {
	margin-top: 30px;
}
/*.single-product a.reset_variations {
	display: none;
}*/
.single-product td.label {
	display: block;
}
.single-product td.value {
	display: block
}
td.value div {
	padding: 8px;
	background: #fff;
	font-family: 'BrandonGrotesque-Medium';
    font-weight: 200;
	text-transform: uppercase;
	font-size: 12px;
	color:#a7a59d;
	border:1px solid #a7a59d;
	text-align: center;
	display: inline-block;
	margin-right: 8px;
}
td.value div:hover {
	border:1px solid rgba(189, 162, 66, 0.8);
	color:rgba(189, 162, 66, 0.8);
}
td.value input[type="radio"]  {
	display: none;

}
td.value input[type="radio"]:checked + label {
	color:rgba(189, 162, 66, 0.8);
	font-family: 'BrandonGrotesque-Bold';
} 



/*ZIG-ZAG IMAGE*/
.single-product div.images {
	width: 100% !important;
}
.single-product div.product div.images img {
	display: none;
}
.single-product div.product div.images img {
	width: 49.5%;
}
.single-product div.product div.images img:nth-child(1) {
	display: block;
} 
.single-product div.product div.images img:nth-child(3) {
	display: inline-block;
}
/*------------------------------------*\
    WOOCOMMERCE SHOP PAGE
\*------------------------------------*/

/*------------------------------------*\
    WOOCOMMERCE CART
\*------------------------------------*/
.woocommerce-cart aside.sidebar{
	display: none;
}
.woocommerce-cart section > h1 {
    display: none;
}
.woocommerce ul#shipping_method li label {
	font-family: 'BrandonGrotesque-Regular';
}
.woocommerce-cart span.qty {
	display: none;
}
.woocommerce-cart td.actions .coupon{
	display: none;
}
.woocommerce-cart td.actions input.button {
	background-color: rgba(255, 255, 255, 0.5) !important;
    border: 1px solid #a7a59d;
    border-radius: 0;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 11px !important;
    text-transform: uppercase;
    color: #110705 !important;
    padding: 13px !important;
    letter-spacing: 0.05em;
    text-align: center;
}
.woocommerce-cart .cart_totals h2 {
	display: none;
}

.woocommerce-cart h1 {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 26px;
	font-weight: 200;
	color:#bb9d3b;
	margin-bottom: 5px;
}
.woocommerce-cart span.script {
	font-weight: bold;
}

.woocommerce-cart .woocommerce table.shop_table {
	border: 1px solid transparent;
	-webkit-border-image: url('img/top_border.png') 30 round; /* Safari 3.1-5 */
    -o-border-image: url('img/top_border.png') 30 round; /* Opera 11-12.1 */
    border-image: url('img/top_border.png') 30 round;
}

.woocommerce-cart table.cart th {
	font-family: 'BrandonGrotesque-Medium';
	font-size: 13px;
	font-weight: 200;
	color:#110705;
}
.woocommerce-cart table.cart img {
	height: 180px;
    width: 130px;
     box-shadow: 0 0 8px 8px white inset !important;
}

.woocommerce-cart table.cart .product-thumbnail {
	max-width: 100px;
}

.woocommerce-cart table.cart td.product-name a {
	font-family: 'GranjonRoman';
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    line-height: 2.5em;
    letter-spacing: 0.05em;
}
.woocommerce-cart td.product-name dl.variation dt {
	font-family: 'BrandonGrotesque-Medium';
    font-size: 15px;
    font-weight: 200;
    color: rgba(17, 7, 5, 0.8);
    text-align: center;
}
.woocommerce-cart table.cart .product-name{
	max-width: 150px;
}

.woocommerce-cart a.remove {
	font-family: 'BrandonGrotesque-Bold' !important;
	font-size: 11px !important;
	color:#a7a59d !important;
}
.woocommerce-cart  a.remove:hover {
	background-color:#fff !important;
	color:#a7a59d !important;
	text-decoration: underline !important;	
}
.woocommerce-cart span.amount {
	font-family: 'BrandonGrotesque-Medium';
    font-size: 15px;
    color: #110705;
}

form.beach_bag_item {
	display: inline-block;
	vertical-align: top;
	width: 65%;
	margin-right: 4%;
}
.woocommerce-cart .cart_totals {
	width: 30% !important;
	display: inline-block;
	vertical-align: top;
}

.woocommerce-cart .cart_totals th {
	font-family: 'BrandonGrotesque-Regular';
    font-size: 12px;
    color: #110705;
    text-transform: uppercase;
}

.woocommerce-cart .cart_totals td {
	text-align: right;
}

.woocommerce-cart .cart_totals p {
	font-family: 'BrandonGrotesque-Regular';
    font-size: 14px;
    color: #a7a59d;
    text-align: left;
}

.woocommerce-cart .wc-proceed-to-checkout {
	padding: 0;
}
.woocommerce-cart a.checkout-button:hover {
    background-color: rgb(210, 179, 69) !important;
}
.woocommerce-cart a.checkout-button {
	background-color: rgb(189, 162, 66) !important;
	border-radius: 0;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 15px !important;
	text-transform: uppercase;
	color: #fff;
	padding: 18px !important;
	letter-spacing: 0.05em;
	transition: .1s ease all;
	margin-bottom: 1em !important;
}
.woocommerce-cart a.continue-shop-button {
	background-color: rgba(255, 255, 255, 0.5) !important;
	border: 1px solid #a7a59d;
    border-radius: 0;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 11px !important;
    text-transform: uppercase;
    color: #110705 !important;
    padding: 13px !important;
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
}
.woocommerce-cart a.continue-shop-button:hover {
	border: 1px solid #110705;
}

.help_banner  {
	margin-top: 40px;
	position: relative;
}
.help_banner img{
	width: 100%;
	border:1px solid rgba(151, 147, 146, 1);
}

.help_banner_overlay {
	position: absolute;
	top: 25px;
	left:30px;
}
.help_banner_overlay h6 {
	font-family: 'BrandonGrotesque-Medium';
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	color:#110705;
	line-height: 1.65em;
	padding-bottom: 5px;
}

.help_banner_overlay p  {
	padding-top:15px;
	font-size: 12px !important;
	color:#110705 !important;
}
.help_banner_overlay a {
	color:#110705 !important;
	border-bottom: 1px solid #110705;
}

/*CART EMPTY*/

.woocommerce-cart p.cart-empty {
	text-align: center;
	font-family: 'BrandonGrotesque-Regular';
	font-weight: normal;
	font-size: 16px;
	color:#110705;
	line-height: 1.65em;
	padding-bottom: 5px;
	margin-bottom: 20px;

}

.woocommerce-cart p.return-to-shop {
	text-align: center;
}

.woocommerce-cart a.button.wc-backward,
.woocommerce-cart .woocommerce-message a.button.wc-forward {
	background-color: rgba(255, 255, 255, 0.5) !important;
	border: 1px solid #a7a59d;
    border-radius: 0;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 11px !important;
    text-transform: uppercase;
    color: #110705 !important;
    padding: 13px !important;
    letter-spacing: 0.05em;
    /*width: 100%;*/
    text-align: center;
}
.woocommerce-cart a.button.wc-backward:hover,
.woocommerce-cart .woocommerce-message a.button.wc-forward:hover{
	border: 1px solid #110705;
}

.woocommerce .woocommerce-message {
    border: 1px solid transparent;
    -webkit-border-image: url('img/top_border.png') 30 round;
    -o-border-image: url('img/top_border.png') 30 round;
    border-image: url('img/top_border.png') 30 round;
    background-color: #fff;
    font-family: 'BrandonGrotesque-Regular';
    font-weight: normal;
    font-size: 16px;
    color: #110705;
}

.woocommerce .woocommerce-message:before {
	color:#7b8ab3 !important;
}


/*------------------------------------*\
    WOOCOMMERCE CHECKOUT
\*------------------------------------*/
.woocommerce-checkout section {
	width: 90% !important;
	margin: 0 auto !important;
}
.woocommerce-checkout p {
	text-align: left !important;
}
.woocommerce-checkout aside.sidebar{
	display: none;
}
.woocommerce-checkout footer{
	display: none;
}

.woocommerce-checkout .woocommerce-info {
	display: none;
}
.woocommerce-checkout section > h1 {
    font-family: 'BrandonGrotesque-Medium';
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	color:#110705;
	line-height: 1.65em;
	padding-bottom: 10px;
	margin-bottom: 40px;
	border-top: 0;
	border-bottom: 2px solid transparent;
    -webkit-border-image: url('img/top_border.png') 30 round;
    -o-border-image: url('img/top_border.png') 30 round;
    border-image: url('img/top_border.png') 30 round;
}
.woocommerce-checkout  p.warning_message {
	font-family: 'BrandonGrotesque-Regular';
	font-size: 14px;
	color:#110705;
	margin-bottom: 30px;
}


.woocommerce-checkout #customer_details h3 {
	font-family: 'BrandonGrotesque-Medium';
	font-weight: normal;
	font-size: 16px;
	color:#110705;
	line-height: 1.65em;
	padding-bottom: 10px;
	letter-spacing: 0.05em;
}

.woocommerce-checkout form .form-row label {
	line-height: 1.5 !important;
	font-family: 'BrandonGrotesque-Medium';
	font-weight: normal;
	font-size: 11px;
	color:#110705;
	text-transform: uppercase;
}

.woocommerce-checkout form .form-row input.input-text {
	height:35px;
	border:1px solid #a7a59d;
	font-family: 'BrandonGrotesque-Light';
	color:#64635E;
	text-indent: 8px;
	margin-bottom: 10px;
}
.woocommerce-checkout form .form-row select {
	-webkit-appearance: none;
	margin-bottom: 10px;
    height: 35px;
    border-radius: 0;
    background-color: #fff;
    border:1px solid #a7a59d;
	font-family: 'BrandonGrotesque-Regular';
	font-size: 13px;
	color:#110705;
	text-indent: 8px;
}
.woocommerce-checkout textarea#order_comments {
	border:1px solid #a7a59d;
	font-family: 'BrandonGrotesque-Light';
	color:#64635E;
	text-indent: 8px;
	margin-bottom: 10px;
	height: 85px;
}

.woocommerce-checkout p.create-account {
	margin-top: 50px;
}
.woocommerce-checkout div.create-account p {
	font-family: 'BrandonGrotesque-Light';
	font-weight: normal;
	font-size: 14px;
	color:#110705;
	padding-bottom: 20px;
}

.woocommerce-checkout h3#order_review_heading {
	font-family: 'BrandonGrotesque-Medium';
	font-weight: normal;
	font-size: 14px;
	text-transform: uppercase;
	color:#110705;
	line-height: 1.65em;
	padding-top: 10px;
	padding-bottom: 10px;
	margin-bottom: 40px;
	margin-top: 50px;
	border: 2px solid transparent;
    -webkit-border-image: url('img/top_border.png') 30 round;
    -o-border-image: url('img/top_border.png') 30 round;
    border-image: url('img/top_border.png') 30 round;
}

.woocommerce-checkout #order_review {
	width: 60%;
	margin-right: 4%;
	display: inline-block;
}
.woocommerce-checkout #order_review th,
.woocommerce-checkout #order_review td {
	font-family: 'BrandonGrotesque-Regular';
    font-size: 12px;
    color: #110705;
    text-transform: uppercase;
}
.woocommerce-checkout #payment {
	font-family: 'BrandonGrotesque-Light';
	font-weight: normal;
	font-size: 16px;
	color:#110705;
	background: rgba(189, 162, 66, 0.1);
}

.woocommerce-checkout #payment #place_order {
	background-color: rgba(255, 255, 255, 0.5) !important;
	border: 2px solid #bda242;
    border-radius: 0;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 14px !important;
    font-weight: 200;
    text-transform: uppercase;
    color: #bda242 !important;
    padding: 15px !important;
    letter-spacing: 0.05em;
    width: 100%;
    text-align: center;
}
.woocommerce-checkout #payment ul.payment_methods {
	border-bottom: 1px solid rgba(189, 162, 66, 0.2);
}


.woocommerce-checkout .help_banner {
	width: 35%;
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
}


.woocommerce .woocommerce-error {
	border-top: 2px solid #7b8ab3 !important;
	background-color: #fff;
    font-family: 'BrandonGrotesque-Light';
    font-weight: normal;
    font-size: 16px;
    color: #110705;
}
.woocommerce .woocommerce-error:before {
	color:#7b8ab3 !important;
}


/*------------------------------------*\
    WISHLIST
\*------------------------------------*/
.yith-wcwl-add-to-wishlist {
	display: inline-block;
	vertical-align: top;
	margin-top: 0;
	text-transform: uppercase;
}
.yith-wcwl-add-button {
/*    border-radius: 0;
    font-family: 'BrandonGrotesque-Medium';
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    color: rgba(189, 162, 66, 0.8);
    padding: 8px 0 8px 20px;
    width: 200px;
    text-align:center;
    display: inline-block;
    margin-left: -5px;*/
}
.wishlist_button {
	border:2px solid rgba(189, 162, 66, 0.8);
	border-radius: 0;
	font-family: 'BrandonGrotesque-Medium';
	font-size: 16px;
	text-transform: uppercase;
	color: rgba(189, 162, 66, 0.8);
	padding: 0px 4px 0px 0px;
	width: 200px;
	text-align:center;
	display: inline-block;
	line-height: 42px;
	height: 44px;
	vertical-align: top;
}
.wishlist_button:hover {
	cursor: pointer;
}
.wishlist_button img {
	vertical-align: top;
	margin-left: 39px;
	margin-right: 2px;
	width: 12px;
	margin-top: 14px;
}
.yith-wcwl-add-button a{
	color: rgba(189, 162, 66, 0.8);
}

.yith-wcwl-wishlistexistsbrowse.show a {
	display: inline-block;
	vertical-align: top;
	color:rgba(189, 162, 66, 0.8);
}
.yith-wcwl-wishlistexistsbrowse.show a:hover {
	text-decoration: underline;
}


body.wishlist h1 {
	font-family: 'BrandonGrotesque-Regular';
    font-size: 26px;
    font-weight: 200;
    color: #bb9d3b;
    margin-bottom: 5px;
}

body.wishlist table.shop_table{
    border: 1px solid transparent;
    -webkit-border-image: url('img/top_border.png') 30 round;
    -o-border-image: url('img/top_border.png') 30 round;
    border-image: url('img/top_border.png') 30 round;
}
body.wishlist table.shop_table th {
	font-family: 'BrandonGrotesque-Medium';
    font-size: 13px;
    font-weight: 200;
    color: #110705;
}

body.wishlist table.shop_table td.product-thumbnail {
	width:150px;
}

body.wishlist table.shop_table img {
    width: 130px;
    box-shadow: 0 0 8px 8px white inset !important;
}

body.wishlist table.shop_table td.product-name{
    max-width: 150px;
}
body.wishlist table.shop_table td.product-name a {
    font-family: 'GranjonRoman';
    font-size: 15px;
    text-transform: uppercase;
    color: #000;
    line-height: 2.5em;
    letter-spacing: 0.05em;
}
body.wishlist table.shop_table a.remove {
    font-family: 'BrandonGrotesque-Bold' !important;
    font-size: 11px !important;
    color: #a7a59d !important;
}
body.wishlist table.shop_table a.remove:hover {
	background: none;
}

body.wishlist table.shop_table th.product-price {
	text-align: center;
}
body.wishlist table.shop_table span.amount {
    font-family: 'BrandonGrotesque-Medium';
    font-size: 15px;
    color: #110705;
}
body.wishlist table.shop_table th.product-stock-stauts {
	text-align: center;
}

body.wishlist table.shop_table span.wishlist-in-stock{
	font-family: 'BrandonGrotesque-Regular';
    font-size: 14px;
    color: #a7a59d;
}

body.wishlist .wishlist_table td.product-add-to-cart a {
	background-color: rgba(189, 162, 66, 0.8) !important;
    border-radius: 0;
    font-family: 'BrandonGrotesque-Regular';
    font-size: 12px !important;
    text-transform: uppercase;
    color: #fff;
    padding: 5px !important;
    letter-spacing: 0.05em;
    margin-bottom: 1em !important;
}

/*------------------------------------*\
    RESPONSIVE MENU
\*------------------------------------*/
#click-menu {
	margin-top: 31px;
}



/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (max-width:1100px) {
	.top_layer_overlay {
		top:0;
	}
	.mid_layer_overlay ul li.mid_text_1,
	.mid_layer_overlay ul li.mid_text_3 {
		display: none;
	}
	.mid_layer_overlay ul li.mid_text_2 {
		width: 100%;
	}
	.flex_vert_overlay {
		top:60px;
	}
	.flex_top_overlay {
		top:50px;
	}
	.newsletter_form input[type="text"] {
		width: 250px;
	}
	.footer_left {
		width: 55%;
	}
	.footer_left h4 {
		font-size: 16px;
	}
	.footer_cols {
		width: 32%;
	}

	.img_story {
		width: 32%;
	}
	.prev_next_story {
		width: 42%;
	}
	.prev_next_story figcaption {
		width: 50%;
		font-size: 21px;
	}

	.fittingHeaderCopyBox {
		top:110px;
	}

	.fittingTable {
		display: block;
		width: auto;
		margin-bottom: 50px;
	} 
	.fittingAdditionalInfo {
		display: block;
		width: auto;
	}
}


@media only screen and (max-width:840px) {
	body.home .top_logo div.tropic_logo{
		position:relative!important;
		height: 206px;
		margin-bottom: -37px;
	}
	ul.nav_links {
    display: none !important;
	}
	a.icon {
		display: block;
	}
	div.nav_right {
	    display: none;
	}
	img.tropic_logo {
    	max-width: 100px;
	}
	.top_border {
		/*margin-top: -27px;*/
		margin-left: 0;
		margin-bottom: 0;
	}
	.page_wrapper {
		width: 100%;
		margin: 0 auto;
	}
	.top_layer_overlay h1 {
		font-size: 60px;
		margin-top: 30px;
		color: #110705;
	}
	.top_layer_overlay h3 {
		font-size: 25px;
	}
	.flex_vert_overlay h1,
	.flex_top_overlay h1,
	.flex_bottom_overlay h1 {
		font-size: 40px;
	}
	.flex_vert_overlay {
		top:30px;
	}
	.flex_top_overlay {
		top:25px;
	}
	.flex_bottom_overlay {
		bottom:20px;
	}
	.flex_vert:before,
	.flex_stack:before {
		background-size: 100px;
	}

	.site_footer {
		background-size: cover;
	}

	.footer_left,
	.footer_right {
		width: 100%;
		text-align: center;
	}
	.footer_cols {
		text-align: center;
		width: 49%;
	}
	.footer_cols:first-child {
		width: 100%;
		margin-bottom: 15px;
	}
	.footer_cols ul {
		display: block;
	}
	p.copyright_p {
		text-align: center;
	}


	img.shop_top_border {
		display: none;
	}
	.shop_header h1.page-title {
		left:0;
	}
	.shop_page_layer {
		padding-top: 30px;
	}
	.post-type-archive-product aside.sidebar {
		top:86px;
	}
	.woocommerce .woocommerce-breadcrumb {
	    text-align: center;
	    margin-top: 14px;
	    margin-bottom: 15px;
	    font-size: 14px;
	}
	.single-product h1.product_title.entry-title {
		font-size: 34px;
		width: 100%;
	}
	.single-product div.images {
		margin-bottom: 0 !important;
		float: none !important;
		margin: 0 auto !important;
	}
	.single-product .summary.entry-summary {
		width: 100% !important;
		margin-left: 0;
		position: relative !important;
	}
	.single-product .summary.entry-summary p {
		width: 100%;
	}
	.single-product .related.products h2 {
		text-align: center;
	}
	.single-product div.product form.cart {
		margin-bottom:  5em !important;
		text-align:center;
	}
	.single-product div.product form.cart .button {
		float: none;
	}
	.story_image_left.img_story img.story_img,
	.story_image_right.img_story img.story_img  {
		margin-top: 0;
		width: 100%;
	}
	.story_image_left.img_story figcaption,
	.story_image_right.img_story figcaption {
		width: 100%;
	}

	.page_about_header h1 {
		margin-top: 20px;
	}
	aside.sidebar_locations {
		display: none;
	}
	.page_contact_wrapper {
		margin-left: 0;
	}
	.page-template-default p {
		width: 80%;
		margin:0 auto;
	}
	.page-template-default .newsletter_form p {
	width: auto !important;
	}
	.fittingHeaderMedia {
		height: 450px;
	}
	.fittingHeaderCopyBox {
		top:135px;
	}
	.fittingAdditionalInfo {
		text-align: center;
	}
	.fittingAdditionalInfo > .infoBox {
		width: 50%;
	}
	.fittingAdditionalInfo > .infoBox p {
		text-align: center;
		margin: 0 auto;
	}
	.fittingTable {
		margin-bottom: 0;
	}
	.top_layer{
		overflow: hidden;
	}
}
@media only screen and (max-width:590px) {
	.top_layer:before,.top_layer:after{
		opacity:0;
	}
	a#blog_flex_link{
    margin-top: 9px;
    margin-left: 8px;
    margin-right: 8px;
}
	a#product_category_link_left{
    margin-bottom: 9px;
    margin-left: 8px;
    margin-right: 8px;
    height: 196px;
}
	.site_footer{
    background: rgba(242, 231, 213, 0.5);
    margin-top: -1px;

}
	a#collection_flex_link{
    height: 196px;
    margin-left: 8px;
    margin-right: 8px;
    margin-bottom: 7px;
}
	a#product_category_link_right{
    margin-bottom: 8px;
    margin-left: 8px;
    margin-right: 8px;
    height: 196px;
}
	.foote_logo_img{
		margin-left:auto;
		margin-right:auto;
		background-position: center center;
	}
	.show_on_590 {
		display: block;
	}
	.hide_on_590 {
		display: none;
	}
	.top_layer_overlay {
		padding-left: 0;
		text-align: center;
	}
	.top_layer_overlay h3 {
		display: none;
	}
	.top_layer_overlay button {
		margin: 0;
		background-color: rgb(123, 138, 179);
	}
	.top_layer_overlay button a{font-weight: bold;}
	.flexbox_shop {
		display: block;
	}
	.flex_vert,
	.flex_stack {
		-webkit-box-flex: 1;
		-ms-flex: 1;
		flex:1;
		width: 100%;
	}
	.flex_vert img {
		margin-bottom: .9vw;
	}
	.flex_vert_overlay {
		top:60px;
	}
	.flex_top_overlay {
		top:50px;
	}
	.flex_bottom_overlay {
		bottom:20px;
	}
	.flex_vert_overlay h1,
	.flex_top_overlay h1,
	.flex_bottom_overlay h1 {
		font-size: 23px;
		background: rgb(123, 138, 179);
		color: #ffffff;
		line-height: 29px;
		padding-right: 12px;
		padding-left: 12px;
		padding-top: 8px;
		padding-bottom: 5px;
	}

	.newsletter_form input[type="text"] {
		width: 180px;
	}

	.post-type-archive-product aside.sidebar {
		display: none;
	}
	.post-type-archive-product div#content {
		margin-left: 0;
	}
	.post-type-archive-product .shop_page_layer {
		margin-left: 0;
	}

	.single-product h1.product_title.entry-title {
		text-align: center;
	}
	.story_image_left.img_story,
	.story_image_right.img_story,
	.story_image_center.img_story {
		width: 100%;
	}
	.story_images {
		padding: 0;
	}
	.story_chapters {
		background-size: 100% 100%;
	}

	.story_top_layer_overlay h1 {
		font-size: 50px;
	}
	.story_top_layer_overlay h5 {
		font-size: 22px;
	}
	.story_image_center.img_story img.story_img  {
		background: url('img/tan_bg.jpg') no-repeat;
	    background-size: cover;
	}
	.story_image_center.img_story figcaption {
		margin: 0 auto;
	}

	img.arrow_left,
	img.arrow_right {
		display: none;
	}
	.prev_next_story {
		width: 100%;
		margin-bottom: 50px;
	}
	.prev_next_story:last-child {
		margin-bottom: 0;
	}
	.prev_next_story figcaption {
		width: 40%;
	}
	.page_about_header h1 {
		width: 100%;
		font-size: 36px;
	}
	.page_about_header p {
		width: 80%;
	}

	.about_center_panel {
		width: 100%;
	}

	.contact_page_form form p.send_button {
		background-size: cover;
	}
	.contact_page_form form input[type="submit"] {
		width: 80%;
	}
	.contact_page_form form input {
		width: 80%;
	}
	.contact_page_form form textarea {
		width: 90%;
	}
	.top_footer {
		background: #7b8ab3;
	}
	img.social_icon {
		height: 20px;
	}
	.footer_left h4 {
		font-size: 12px;
	}

	.fittingAdditionalInfo > .infoBox {
		width: 100%;
		height: auto;
		border: 0 !important;
	} 

	.woocommerce-account .col-2 {
		border-bottom: none !important;
	}
	.woocommerce-account form.login,
	.woocommerce-account form.register {
		width: 100%;
	}
	form.beach_bag_item {
		width: 100%;
		margin-right: 0;
	}
	.woocommerce-cart table.cart .product-name {
		max-width: 100%;
	}
	.woocommerce-cart .cart_totals {
		width: 100% !important;
	}

}

